//=================================================================
// _base.css:
// 
// This file contains only variables and mixins that will be applied
// to the production-ready 'styles.min.css'.  That's it...no more,
// no less.
// =================================================================


// =============
// ALL VARIABLES
// =============

// START PRIMARY COLOR PALETTE for kaidez.com, as defined by the azure sea 
// color palette at http://www.colourlovers.com/palette/2892492/azure_sea.
// Changing these colors will affect other parts of the site, as noted below.


// Site background color
$site-background-color: #fff;

// header background color
$header-color: #7db9e8;

// Base color for nav links. Affects the font color for desktops/laptops,
// background, color for big fat buttons that appear in the "mobile first"
// layout, bottom border color for the desktop/laptop header and top border 
// for the main navigation.
$base-link-color: #262841;

// Base color for page links in post content. Also effects the color of any and all pagination buttons.
$post-link-color: #3285A5;

// footer background color
$footer-color: #0C5E7E;

// aside background color
$aside-color: lighten($footer-color, 8);

// Darken the footer color: effects the all copy in the footer and the bottom
// border of the post snippets.
$darken-the-aside-color: darken($aside-color, 25);

// base color for the homepage sections
$homepage-section-bg-color: #f6ffff;

// End color variables


// Font variables
$lato: "Lato"; // Google Font
$robo: "Roboto Condensed"; // A Google Font
$fa: "FontAwesome"; // Fonty Awesome...they're icons
$srf: sans-serif;

// Width varibles...mostly applied to the <main> tag and affects all content // sections.
$mobile-portrait-width: 290px; // Mobile
$mobile-landscape-width: 548px; // Mobile Landscape
$inner-content-width: 1024px; // Desktop

// master border-radius for the entire site
$master-border-radius: 10px;

// master shadow for the site's content element (i.e.: ".page-content")
$master-page-content-shadow: 1px 5px 7px 2px rgba(0,0,0,0.2); 
// color variable for the category sections on the home page. applied to both the sections and the
// bg color of the category section

$catSectionColor: #CDF9FF; 
// Variables for the retina media queries start...they're used inside
// '_retinaMediaQuery.scss' 

// Mobile Retina: if the screen is retina-based AND is at least 320px. Targets mobiles and handhelds.
$mobile-retina:   
  "only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 568px),
  only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 568px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 568px),
  only screen and (min-device-pixel-ratio: 2) and (max-width: 568px),
  only screen and (min-resolution: 192dpi) and (max-width: 568px),
  only screen and (min-resolution: 2dppx) and (max-width: 568px)";

// Mobile Non Retina: if the screen is not retina AND at least 320px. Targets mobiles and handhelds.
$mobile-non-retina:   
  "only screen and (max-width: 568px),
  only screen and (max-width: 568px),
  only screen and (max-width: 568px),
  only screen and (max-width: 568px),
  only screen and (max-width: 568px),
  only screen and (max-width: 568px)";

// Tablet/Desktop Retina: if the screen retina based AND is at least 569px
// wide. Targeting tablets and desktops.
$desktop-tablet-retina:   
  "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 569px),
  only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 569px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 569px),
  only screen and (min-device-pixel-ratio: 2) and (min-width: 569px),
  only screen and (min-resolution: 192dpi) and (min-width: 569px),
  only screen and (min-resolution: 2dppx) and (min-width: 569px)";

// Tablet/Desktop: if the screen retina based AND is at least 569px wide. Targeting tablets and desktops.
$desktop-tablet-non-retina: "only screen and (min-width: 569px)";

// 'background-size' variable for any and all CSS classes that reference the sprites. You HAVE to do this is you're doubling the size of your image for retina purposes or the image will look weird.
$bg-size: 227px 334px;

// Variables for the retina media queries start

// =============
// Variables end
// =============





// =============
// Mix-ins start
// =============

// homepage logo link hit area..LARGE. Do one for the small versions
@mixin homepage-link($height, $width) {
  height: $height;
  width: $width;
}

// If a Google font is applied to a page element, the element should be hidden 
// on initial page load as well as set to either serif or another default font.
// After page load, the element should set to visibile, then load the Google 
// font. Two differnt events...use a mixin for both.
//
// Some CSS selectors call @fonts. They always need to be visible but do not // pass a visible parameter. In those instances, "visibility" is always set to // "visible."
@mixin fonts($font, $visibility: blank) {
  font-family: $font;
  @if $visibility != blank {
    visibility: visible;
  }
}

// Use this to create font stacks...at least one font listed as an argument
@mixin font-stack($fonts...) {
  font-family: $fonts;
}

// Centers whatever is applied to it
@mixin master-center {
  margin: 0px auto; 
  text-align: center;
}

// Certain elements need this to ensure 100% height. Used in the
//'page-content' mixin below.
@mixin full-height {
  position: relative;
  height: auto;
  min-height: 100%;
}
 
// When possible, A better way accessibilty-wise to hidepage elements than // display:none or negative text indents.

// Read more over at Yahoo! Accessibilty Blog: 
// http://yaccessibilityblog.com/library/css-clip-hidden-content.html
@mixin hide-element {
  position:absolute;
  clip:rect(1px 1px 1px 1px);
}

// Shows menu on tablet and desktop page load
@mixin show-menu {
  display: block;
  min-height: 21px;
  font-size: 12px;
}
 
// style breadcrumbs
@mixin breadcrumb-styles($font-size, $side-padding) {
  font-size: $font-size;
  font-weight: 900;
  background-color: lighten($header-color, 27);
  max-width: $inner-content-width;
  position: relative;
  margin: 0 auto;
  padding: 8px $side-padding;
}

// style breadcrumb separator
@mixin breadcrumb-separator($side-padding, $font-size: blank) {
  padding:0 $side-padding;
  @if $font-size != blank {
     font-size: $font-size;
  }
}

// Define width for the <header>, <main> and <footer> elements by applying
// this mixin to a class that's applied to the element. The '$dimension'
// variable defines the width value and the values are determined by the
// "Width variables" directly below the mixin.
@mixin page-content($dimension, $bg-color) {
  max-width: $dimension;
  @include full-height;
  background-color: $bg-color;
  margin: 0 auto;
  font-size: 16px;
  line-height: 27px;
  width: auto;
  text-align: left;
  color: #817C7C;
}

// Applies properties to sprite layouts...used in '_retinaMediaQuery.scss'
@mixin sprite-images ($img, $position, $height, $width) {
  background: url($img) no-repeat $position;
  background-size: $bg-size;
  height: $height;
  width: $width;
}

// Create hit areas for <footer> colophon links
@mixin footer-link-hit-area ($height, $width) {
  height: $height;
  width: $width;
  display: block;
}

@mixin site-border-radius {
  -webkit-border-radius: $master-border-radius;
  -moz-border-radius: $master-border-radius;
  border-radius: $master-border-radius;
}

// All transitions 'ease in' in 0.3 seconds
@mixin transitions ($property) {
  -webkit-transition: $property 0.3s ease;
  -moz-transition: $property 0.3s ease;
  -o-transition: $property 0.3s ease;
  transition: $property 0.3s ease;
}

// Dope-ass vendor prefix mixin!!! "$name" = what type of transition.
// "$argument" = are your arguments. Can take as many arguments as you want.
// Attribution Stefan Wienert to at:
// http://stefanwienert.net/blog/2012/05/18/easy-css-vendor-prefix-mixin-for-sass/ 
@mixin vendor-prefix($name, $argument...) {
  -webkit-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -o-#{$name}: $argument;
  #{$name}: $argument;
}

// Shared styling for the kaidez social networking links
@mixin style-sn-link {
  position: relative;
  color: $header-color;
  text-decoration: none;
  width: 287px;
  height: 74px;
}


// CSS transitions are applied to kaidez social network styles when rolled over
// and need styles applied to them before the rollover occurs. These are said-styles. 
@mixin sn-transition-setup {
  color: $header-color;
  opacity: 0;
  left: -78px;
}

// When kaidez social network styles rolled over, they share all the styles...except
// for the text indent and width. apply all those styles here but pass the text indent
// as a mixin argument.
@mixin sn-rollover-setup($text-indent, $width) {
  text-indent: $text-indent;
  width: $width;
  opacity: 1;
  display: inline-block;
  left: -2px;
  overflow-x: hidden;
}


// Shared styling for the icon backround used in kaidez social networking links
@mixin icon-bg {
  font-family: FontAwesome, Lato;
}

// Unique styles for the 'site-title' class in the desktop styles...add this // to sprite mixin code.
@mixin desktop-logo-sprite-add-on {
  float: left;
  margin: 0;
  text-indent: -999px;
  display: block;
}

// outer wrapper for the <header> which wraps the link, nav & search elements
@mixin outer-wrapper-nav-header {
  width: auto;
  padding: 15px 45px 0;
  margin: 0 auto;
}

// <ul> container for the main nav  
@mixin site-navigation-list($display) {
  display: $display;
  margin: 0;
  padding: 0;
}

@mixin related-posts-header($font-size) {
  font-size: $font-size
}

// style <h2> tags that appear in post snippets
@mixin content-h2($font-size) {
  font-size: ($font-size);
}

@mixin contact-form-field {
  margin-top: 3px;
}

// the inner wrapper for the <header>
@mixin inner-wrapper-nav-header {
  max-width: $inner-content-width;
  margin: 0 auto;
}

// style <header> tag but it's only in one place right now and can go (maybe)
@mixin site-header {
  width:209px;
  float: left;
}

// wrap header elements 
@mixin top-level-header-wrapper {
  padding-top: 12px;
}

// <nav> tag
@mixin main-navigation {
  border: none;
  width: 555px;
}

// style wrapper for nav & search but it's only in one place right now and can go (maybe)
@mixin nav-search-style {
  float: right;
}

// link styles
@mixin link-styles($margin-right, $font-size, $padding, $base-color) {
  @include fonts($lato);
  margin-right: $margin-right; 
  font-size: $font-size;
  padding: $padding;
  color: $base-color;
  float: left;
  border: 0;
}

// Shared class for nav and searchbox elements on tablets
@mixin header-element-margin-tablet {
  margin: 0;  
}

// Styles for post and category <h1> tags
@mixin post-category-title($font-size, $padding: blank) {
  @include master-center;
  font-size: $font-size;
  @if $padding != blank {
    padding: $padding;
  }
}

// Add inner box-shadow to the site's content element (i.e.: ".page-content")
@mixin create-inner-box-shadow {
  -webkit-box-shadow: inset 0 7px 16px rgba(0,0,0,0.2);
  -moz-box-shadow: inset0 7px 16px rgba(0,0,0,0.2);
  box-shadow: inset 0 7px 16px rgba(0,0,0,0.2);
}

// Add outer box-shadow to the site's content element (i.e.: ".page-content")
@mixin create-outer-box-shadow {
  -webkit-box-shadow: 1px 1px 2px 0 #ccc;
  -moz-box-shadow: 1px 1px 2px 0 #ccc;
  box-shadow: 1px 1px 2px 0 #ccc;
}

// For the 'share post' sections on post pages. loads the Google 'Lato' font 
// by default...loads sans-serif on hand-helds.
@mixin share-post-link ($font: $lato) {
  font-size:16px;
  line-height: 1;
  font-family: $font;
}

// Applies a text shadow 
@mixin makeTextShadow($base-color) {
  color: darken($base-color, 27);
  text-shadow: 0px 2px 3px lighten($base-color, 9);
}

// Styles the link in the <aside> "LINKS" section
@mixin aside-nav-link {
  list-style-type: none;
  margin: 0;
  padding:0 5px 5px 0;
  height: 25px;
  font-size: 18px;
  display: block;
  color: $header-color;
  text-decoration: none;
}

// use this Sass variable to remove padding from all <ul> tags (when needed)
@mixin ulNoPad {
  padding:0;
}

// header gradient
@mixin gradient-bg {
  background: #87e0fd; /* Old browsers */
  background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}

// ============================================================================
// Pagination mixins start

// These mixins are styles that are for the most part, copied from the 
// pagination styles that are part of the Tipue search plugin. For clarity 
// site-speed optimaztion, it was easier to do this rather than apply the
// Tipue class names.
// ===========================================================================



// Containing pagination box
@mixin pagBox {
  margin: 60px 0 21px;
}

// <ul> item in search results
@mixin pagUL {
  padding: 0;
  margin: 0;
  font: 12px/1 'open sans', sans-serif;
}

// Individual <li> in search results
@mixin floatListItem {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

// Individual button in search results
@mixin pagButtonItem {
  color: #fff;
}

// Inner part of the individual button...makes it a hit area for the link
@mixin pagButtonInner {
  background-color: $post-link-color;
  color: #fff;
  padding: 7px 10px 8px;
  margin-right: 7px;
  text-decoration: none;
  text-align: center;
}

// Inner part of the 'selected' button...makes it a hit area for the link
@mixin pagButtonCurrent {
  background-color: $header-color;
  padding: 7px 10px 8px;
  margin-right: 7px;
  text-decoration: none;
  text-align: center;
}

// ============================================================================
// Pagination mixins end
// ============================================================================


// ============
//  Mix-ins end
// ============
