/*
 * =================================================================
 * _base.css:
 * 
 * This file contains only variables and mixins that will be applied
 * to the production-ready 'styles.min.css'.  That's it...no more,
 * no less.
 * =================================================================
 */


/*
  ===============
  Variables start
  ===============
*/
// Color variables

// http://www.colourlovers.com/palette/2899829/1779

$site-grey: #999;

// $background-color: #DCC7B4;
// $header-color: #C7BDB3;
// $nav-color: #413736;
// $link-color: #3E126D;
// $footer-color: #2D1D2A;
// $footer-color-text: #B99388;
// $header-footer-border: $footer-color-text;

// http://www.colourlovers.com/palette/2901426/undervalued
// $background-color: #CBC0AA;
// $header-color: #D49A8C;
// $nav-color: #310818;
// $link-color: #9F3849;
// $footer-color: #5E0C34;

// $mobile-nav-border-color: $background-color;
// $footer-color-text: $background-color;
// $header-footer-border: $footer-color-text;

// http://www.colourlovers.com/palette/2901472/shiba
$background-color: #ECDCC5;
$header-color: #CFBBA0;
$nav-color: #310818;
$link-color: #716B5B;
$footer-color: #627C8D;

$mobile-nav-border-color: $background-color;
$footer-color-text: $background-color;
$header-footer-border: $background-color;


// Font variables
$helv: "Lato";
$robo: "Roboto Condensed";
$srf: serif;

// Width varibles
$mobile-portrait-width: 300px; // Mobile
$mobile-landscape-width: 548px; // Mobile Landscape
$tablet-width: 481px; // Tablet
$inner-content-width: 900px; // Desktop

/*
 * This variable may be repetitive but it clarifies the function that defines * the footer colunm width and gutter.
 */
$inner-footer-width-desktop: $inner-content-width;


$footer-column-width-desktop: 250px; 

  
/*
 * 'background-size' variable for any and all CSS classes that reference the
 * sprites. You HAVE to do this is you're doubling the size of your image for 
 * retina purposes or the image will look wierd.
 */
$bg-size: 350px 210px; 


// Tablet/Desktop: if the screen retina based AND is at least 569px wide:
$retina:   
  "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 569px),
  only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 569px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 569px),
  only screen and (min-device-pixel-ratio: 2) and (min-width: 569px),
  only screen and (min-resolution: 192dpi) and (min-width: 569px),
  only screen and (min-resolution: 2dppx) and (min-width: 569px)";

// Tablet/Desktop non-retina: if the screen retina based AND is at least 569px wide:
$desktop:   
  "only screen and (min-width: 569px),
  only screen and (min-width: 569px),
  only screen and (min-width: 569px),
  only screen and (min-width: 569px),
  only screen and (min-width: 569px),
  only screen and (min-width: 569px)";

// Mobile: if the screen is retina-based AND is no wider than 568px:
$mobile-retina:   
  "only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 568px),
  only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 568px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 568px),
  only screen and (min-device-pixel-ratio: 2) and (max-width: 568px),
  only screen and (min-resolution: 192dpi) and (max-width: 568px),
  only screen and (min-resolution: 2dppx) and (max-width: 568px)";
 

/*
 * =============
 * Variables end
 * =============
 */

/*
=========================================================================
 */

/*
 * =============
 * Mix-ins start
 * =============
 */

/*
 * Loads whatever font the '$font' variable is set
 * to based on the font variables list above. 
 */
@mixin fonts($font) {
  font-family: $font;
}

// Centers whatever is applied to it
@mixin master-center {
  margin: 0px auto; 
  text-align: center;
}

// All of the main page elements need a padding of 10px
@mixin allElementPadding {
  padding: 10px;
}

// Certain elements need this to ensure 100% height
@mixin full-height {
  position: relative;
  height: auto;
  min-height: 100%;
}
 
/* 
 * When possible, A better way accessibilty-wise to
 * hidepage elements than display:none or negative
 * text indents.
 *
 * Yahoo! Accessibilty Blog:
 * http://yaccessibilityblog.com/library/css-clip-hidden-content.html
 */
@mixin hide-element {
  position:absolute;
  clip:rect(1px 1px 1px 1px);
}

// Shows menu on tablet and desktop page load
@mixin show-menu {
  display: block;
  padding:2px 0;
  min-height: 21px;
  width: 454px;
  font-size: 12px;
}

 /*
 * Define width for the <header>, <main> and <footer> elements by applying
 * this mixin to a class that's applied to the element. The '$dimension'
 * variable defines the width value and the values are determined by the
 * "Width variables" directly below the mixin.
 */
@mixin content-width($dimension) {
  max-width: $dimension;
  margin: 0 auto;
  padding:0 10px;
}
@mixin sprite-images ($img, $pos, $height, $width) {
  background: url($img) no-repeat $pos;
  background-size: $bg-size;
  height: $height;
  width: $width;
}

/*
  * Unique styles for the 'site-title' class in the
  * desktop styles...add this to sprite mixin code
  */
@mixin desktop-logo-sprite-add-on {
  float: left;
  margin: 0;
  text-indent: -999px;
  display: block;
}

 // Applies border to post snippets on home page and search results.
@mixin bottomBorder ($color) {
  border-bottom: 1px solid $color;
}

/*
 * ============================================================================
 * Pagination mixins
 *
 * These mixins are styles that are for the most part, copied from the 
 * pagination styles that are part of the Tipue search plugin. For clarity and * site-speed optimaztion, it was easier to do this rather than apply the
 * Tipue class names.
 * ============================================================================
 */

// Containing pagination box
@mixin pagBox {
  margin: 47px 0 31px 0;
}

// <ul> item in search results
@mixin pagUL {
  padding: 0;
  margin: 0;
  font: 12px/1 'open sans', sans-serif;
}

// Individual <li> in search results
@mixin floatListItem {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

// Individual button in search results
@mixin pagButtonItem {
  // background: #9C0033;
  // border: 1px solid #dcdcdc;
  color: #fff;
  // margin-right: 7px;
  // padding: 7px 10px 8px;
}

// Inner part of the individual button...makes it a hit area for the link
@mixin pagButtonInner {
  padding: 7px 10px 8px; //break out into a variable
  background-color: $link-color;
  // background: -webkit-linear-gradient(top,#F7F7F7,#F1F1F1);
  // background: -moz-linear-gradient(top,#F7F7F7,#F1F1F1);
  // background: -ms-linear-gradient(top,#F7F7F7,#F1F1F1);
  // background: -o-linear-gradient(top,#F7F7F7,#F1F1F1);
  // background: linear-gradient(top,#F7F7F7,#F1F1F1);
  // border: 1px solid #DCDCDC;
  // border-radius: 2px;
  color: #fff;
  margin-right: 7px;
  text-decoration: none;
  text-align: center;
}

// Inner part of the 'selected' button...makes it a hit area for the link
@mixin pagButtonCurrent {
  padding: 7px 10px 8px;
  background-color: $header-color;
  // background: -webkit-linear-gradient(top,#F7F7F7,#F1F1F1);
  // background: -moz-linear-gradient(top,#F7F7F7,#F1F1F1);
  // background: -ms-linear-gradient(top,#F7F7F7,#F1F1F1);
  // background: -o-linear-gradient(top,#F7F7F7,#F1F1F1);
  // background: linear-gradient(top,#F7F7F7,#F1F1F1);
  // border: 1px solid #DCDCDC;
  // border-radius: 2px;
  // color: #fff;
  margin-right: 7px;
  text-decoration: none;
  text-align: center;
}

/*
   ===========
   Mix-ins end
   ===========
 */

/*
=========================================================================
 */

/*
 * ===============
 * Functions start
 * ===============
 */

@function getGutterWidth($gutter-width) {
 $getDoubleGutterWidth: $inner-content-width - ($footer-column-width-desktop*3);
 $gutter-width: $getDoubleGutterWidth/2;
 @return $gutter-width;
}

/*
 * =============
 * Functions end
 * =============
 */