/*
 * ==========================================================================
 * Desktop and IE and lower styles start:
 *
 * Master mixin to be shared among "_baseIE8Desktop.scss" and "_desktopStyles.
 * scss." This may change before the final site build.  Read
 * https://github.com/nex3/sass/issues/408 to see why, specifically check out
 * what Chris Epstein says.
 * ==========================================================================
 */

  // Hide the Google font on all <header> tags before page load
  .wf-loading h1, .wf-inactive h1,
  .wf-loading h2, .wf-inactive h2,
  .wf-loading h3, .wf-inactive h3,
  .wf-loading h4, .wf-inactive h4,
  .wf-loading h5, .wf-inactive h5,
  .wf-loading h6, .wf-inactive h6, {
    font-family: $srf;
  }

  // Apply the Google font to all <header> tags after page load.
  .wf-active h1,
  .wf-active h2,
  .wf-active h3,
  .wf-active h4,
  .wf-active h5,
  .wf-active h6 {
    @include fonts($robo);
    font-size: 1.0rem;
  }

  /*
   * ===================
   * Header styles start
   * ===================
   */

  // <h2> tag...the 'closing tags...wrapping functions text'
  .site-description {
    display: block;
    position: static;
    font-size: 14px;
    margin: 0;
    width: 245px;
  }

  // the main class for the <header> tag
  .site-header {
    max-width: 450px;
    float: left;
  }
  
  // the outer wrapper for the <header>. Width is set to auto.
  .outerWrapperNavHeader {
    width: auto;
    padding: 21px;
    border-bottom: 3px solid $base-link-color;
  }

  // the inner wrapper for the <header>. Width is set to 900px.
  .innerWrapperNavHeader {
    width: $inner-content-width;
    margin: 0 auto;
  }


  // <h1> tag in the <header>...DESKTOP ONLY!!!!!!!!!!!
  // If u break this .scss file out to _baseIE8Desktop, this code stays in
  // this file
  .site-title {
    @include sprite-images('../img/snSprite.png', -125px -80px, 62px, 221px);
    text-indent: -999px;
    margin: 0;
    float: left;
  }

  // class for <nav> tag and "#searchbox" element
  .header-element-margin {
    margin-left: 100px;
    position: relative;
    left:200px;  
  }

  /*
   * =================
   * Header styles end
   * =================
   */





  /*
   * =======================
   * Navigation styles start
   * =======================
   */

  // Menu
  #site-navigation-list {
    @include show-menu;
    @include master-center;
    padding: 0;
    width: 500px;
    height: 17px;
  }

  // Hide moble menu and search icons on all devices EXCEPT hand-helds
  #menu, #search {
    @include hide-element;
  }

  // Logo link...provides a large enough space for a click area
  .homepage-link {
    width: 209px;
    height: 65px;
  }

    // <nav> tag
  // MOVE OVER TO "_baseIE8Desktop.scss"?
  .main-navigation {
    border: none;
  }

  // Hide the Google font on all <nav> links before page load: 
  .wf-loading .site-navigation-list-link {
    font-family: $srf;
    visibility: hidden;
    text-decoration: none;
    font-size: 14px;
    float: left;
  }

  .site-navigation-list-link {
    float: left;
    display: inline;
    padding: 6px;
    margin-right: 12px;
  }

  // Apply the Google font to all <nav> links after page load
  .wf-active .site-navigation-list-link a:link,
  .wf-active .site-navigation-list-link a:visited,
  .wf-active .site-navigation-list-link a:hover { 
    @include fonts($helv);
    border: 1px solid $footer-color;
    width: 90px;
    height: 17px;
    color: #fff;
    font-size: 14px;
    float: left;
    
    padding: 6px;
    background-color: #310818;
    display: inline;
  }

  /*
   * =====================
   * Navigation styles end
   * =====================
   */





  // Search box-related styles start
  #s {
    font-size: 1em;
  }

  // Search box
  #searchbox {
    display: block;
    float: left;
  }

  /*
   ====================
   Content styles start
   ====================
   */
  

  .page-content {
    width: $inner-content-width;
    max-width: $inner-content-width;
    font-size: 18px;
    line-height: 36px;
    padding-top:21px;
    margin:0 auto;
  }

  .breadcrumbStyles {
    font-size: 16px;
    padding: 0px 0 54px;
  }

  /*
   ==================
   Content styles end
   ==================
   */

