/*
 * ==========================================================================
 * Desktop and IE and lower styles start:
 *
 * Master mixin to be shared among "_baseIE8Desktop.scss" and "_desktopStyles.
 * scss." This may change before the final site build.  Read
 * https://github.com/nex3/sass/issues/408 to see why, specifically check out
 * what Chris Epstein says.
 * ==========================================================================
 */

   // Loads Lato Google Font
  body {
    @include fonts($helv);
  }
  
  // the inner wrapper for the <header>. Width is set to 900px.
  .innerWrapperNavHeader {
    width: $inner-content-width;
    margin: 0 auto;
  }

    // the outer wrapper for the <header>. Width is set to auto.
  .outerWrapperNavHeader {
    width: auto;
    padding: 21px;
    border-bottom: 3px solid $base-link-color;
  }