
//  =====================
//  Desktop styles start:
// 
//  These should appear on desktop browsers. They are sorta/kinda set up in a 
//  way that they require a respectable amount of bandwidth to render when
//  compared to the "mobile first" styles.
//  =====================




 @media only screen and (min-width: 1025px) {

  body {
    @include fonts($helv);
  }

  .clearfix:before,
  .clearfix:after {
    content: none;
    display: block;
  }

  .clearfix:after {
    clear: none;
  }

   




  // =========================================================================
  //  Header styles start
  //  ========================================================================


  // Logo link...provides a large enough space for a click area
  .homepage-link {
    @include homepage-link(65px, 209px);
  }

  // the inner wrapper for the <header>
  .inner-wrapper-nav-header {
    @include inner-wrapper-nav-header;
  }

  // outer wrapper for the <header> which wraps the link, nav & search elements
  .outer-wrapper-nav-header {
    @include outer-wrapper-nav-header;
    min-height: 130px;
  }

  // searchbox
  .searchbox-style {
    text-align: left;
  }

  // <header> tag
  .site-header {
    @include site-header;
  }

  // <h2> tag...the "closing tags...wrapping functions" text
  .site-description {
    display: block;
    position: static;
    font-size: 16px;
    margin: 0;
    width: 270px;
    line-height: 2.5;
  }

  // =========================================================================
  //  Header styles start
  //  ========================================================================





  // =========================================================================
  //  Navigation styles start
  //  ========================================================================

  // <nav> tag
  .main-navigation {
    @include main-navigation;
  }

  .nav-search-style {
     @include nav-search-style;
  }

  // <ul> tag
  .site-navigation-list-styles {
    @include show-menu;
    margin: 11px auto 0 auto;
    padding: 0;
    width: auto;
  }

  // Apply the Google font to all <nav> links after page load
  .wf-active .site-navigation-list-link a:link,
  .wf-active .site-navigation-list-link a:visited,
  .wf-active .site-navigation-list-link a:hover { 
    @include link-styles(18px, 22px, 5px, $base-link-color); // margin-right, font-size, padding, color
    background-color: transparent;
    text-shadow: 1px 1px 0 lighten($header-color, 15);
  }

  // =========================================================================
  //  Navigation styles end
  //  ========================================================================





  // =========================================================================
  //  Search styles start
  //  ========================================================================

  .form {
    -webkit-border-radius: $master-border-radius;
    -moz-border-radius: $master-border-radius;
    border-radius: $master-border-radius;
    margin-top: 13px;
  }

  // The div that contains the search box...either show it or hide it
  .searchbox-display {
    display: block;
  }

  #tipue_search_input {
    font: 13px/1.5 'open sans', sans-serif;
    color: #333;
    padding: 7px;
    margin: 0;
    width: 250px;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    transition : background-color 200ms ease-out; 
    -webkit-transition : background-color 200ms ease-out; 
    -moz-transition : background-color 200ms ease-out;
    -o-transition : background-color 200ms ease-out;
    -webkit-border-radius: $master-border-radius;
    -moz-border-radius: $master-border-radius;
    border-radius: $master-border-radius;
  }
 
  #tipue_search_input:focus {
    border-color: green;
    background-color: #f3f3f3; 
  }

  #tipue_search_button {
    width: 60px;
    height: 33px;
    margin-top: 1px;
    border: 1px solid #dcdcdc;
    border-radius: $master-border-radius;
    background: #f1f1f1 url('../img/search.gif') no-repeat center;
    outline: none;
  }

  #tipue_search_button:hover {
    border: 1px solid #c3c3c3;
    -moz-box-shadow: 1px 1px 2px #e3e3e3;
    -webkit-box-shadow: 1px 1px 2px #e3e3e3;
    box-shadow: 1px 1px 2px #e3e3e3;
  }

// =========================================================================
//  Search styles start
//  ========================================================================





  // =========================================================================
  // Page content styles start
  // =========================================================================

   // header font-size on search results page
  .tipue_search_content_title {
    font-size: 32px;
  }
  
  // Styles for post and category <h1> tags
  .wf-active h1.post-title, .wf-active h1.category-title  {
    @include post-category-title(40px, 56px 0 11px);
  }

  .post-subheading {
    @include content-h2(27px);
  }

  // title tag for post snippets
  .post-snippet-title {
    font-size: 34px;
  }

  .page-content {
    @include page-content($inner-content-width);
    @include create-box-shadow(8px);
  }
  
  // breadcrumbs
  .breadcrumb-styles {
    @include breadcrumb-styles(16px, 45px);
    @include create-box-shadow(5px);
  }

  .breadcrumb-styles a:link,
  .breadcrumb-styles a:visited  {
    text-decoration: underline;
    color: darken($header-color, 20);
  }

  .breadcrumb-styles a:hover  {
    text-decoration: none;
    color: darken($header-color, 20);
  }

  // the breadcrumb-separator
  .breadcrumb-separator {
    @include breadcrumb-separator(10px);
  }

  // make sure the breadcrumb is visible since it's being overridden by the mobileFirst view's reference.
  
.breadcrumb-last {
    display:inline;
  }

  // the "Read post" link on the home, category and search pages
  a.read-post-link {
    @include read-post-link($master-border-radius);
  }

  // styling for pictures with captions on posts pages
  .post-image-box {
    margin:60px auto;
    text-align: center;
  }

  // styling for captions copy
  .post-image-caption {
    font-style: italic;
  }
  // =========================================================================
  //  Page content styles start
  //  ======================================================================== 





  // =========================================================================
  //  Home page pagination styles start
  //  ========================================================================

  .control-section-width {
    @include page-content($inner-content-width);
  }

  // =========================================================================
  //  Home page pagination styles end
  //  ========================================================================


  // =========================================================================
  //  Footer styles start
  //  ========================================================================


  // the inner wrapper for the <header>. Width is set to 900px.
  .innerWrapperNavFooter {
    width: $inner-content-width;
    margin: 0 auto 53px;
  }
  

  // apply background image to the footer
  .outerWrapperNavFooter {
    background: $footer-color url('../img/footer-bg.png') no-repeat left;
    padding: 35px 10px;
  }
  
  .footer-header {
    @include footer-header;
  }

  .contact-form-field {
    @include contact-form-field;
  }

  .footer-sections {
    float: left;
  }


  // Font styles for tablets & desktops. Google font doesn't load on mobile.
  .share-post-link {
    font-size:16px;
    line-height: 1;
    @include fonts($helv);
  }

  .footer-header {
    width: 300px;
  }

  .footer-column {
    width: 300px;
  }

  .footer-column-one-class {
    margin-left: 100px;
    float: left;
  }

  .footer-column-two-class {
    margin-right: 100px;
    float: right;
  }

  // =========================================================================
  //  Footer styles end
  //  ========================================================================
 
 }