
// ============================================================================
// Global styles start:
//
// These are styles which should appear on all devices, regardless of screen 
// dimension or computer resolution. There may be other references to these
// classes and ids in other .scss files, but they should only add to the
// list of properties and not override already-existing properties.
// ============================================================================





// ===========================================================================
// Start "all-around" styles that should affect the entire page and not one 
// specfic page region section (i.e., headers, footers, etc.)
// ===========================================================================

// <body> tag
body {
  background-color: $site-background-color;
  max-width: 100%;
  height: 100%;
}

// <html> tag
html {
  height: 100%;
}

// Clearfix: contain floats (borrowed from HTML5 Boilerplate)
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that receive the `clearfix` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.

.clearfix:before,
.clearfix:after {
  content: " "; //  1 // 
  display: table; //  2 // 
}

.clearfix:after {
  clear: both;
}

// <code> snippets inside of post copy
p code, li code {
  display: inline-block;
  white-space: nowrap;
  background: #F9F9F9;
  font-size: .9em;
  line-height: 1.3em;
  color: #333;
  border: 1px solid #ddd;
  -webkit-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 3px;
  margin: 0 2px 0;
}

// Wraps all the page content, <header>, <nav>, <footer>, etc.
.containing-element {
  max-width: 100%;
  overflow-x: hidden;
}

// ===========================================================================
// End "all-around" styles
// ===========================================================================





// ===========================================================================
// Header styles start
// ===========================================================================

// Hide Google 'Roboto' font on all <header> tags before page load
.wf-loading h1, .wf-inactive h1,
.wf-loading h2, .wf-inactive h2,
.wf-loading h3, .wf-inactive h3,
.wf-loading h4, .wf-inactive h4,
.wf-loading h5, .wf-inactive h5,
.wf-loading h6, .wf-inactive h6, {
  @include fonts($srf, hidden);
}

// Apply Google 'Roboto' font to all <header> tags after page load.
.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6 {
  @include fonts($robo, visible);
}

// Logo link
.homepage-link {
  display: block;
}

// Hide menu heading on mobile phones
.menu-toggle {
  @include hide-element;
}

// <header> tag
.site-header {
  text-align: left;
}

// outer wrapper for the <header> which wraps the link, nav & search elements
.outer-wrapper-nav-header {
  background-color: $header-color;
}

// <h2> tag...hides the "closing tags...wrapping functions" text
.site-description {
  clear: both;
}

// ===========================================================================
// Header styles end
// ===========================================================================





// ===========================================================================
// Navigation styles start
// ===========================================================================

// <nav> tag
.main-navigation {
  width: auto;
  border-top: 1px solid $base-link-color;
}

// Hide the Google font on all <nav> links before page load
.wf-loading .site-navigation-list-link {
  @include fonts($srf, hidden);
  font-size: 20px;
}

// Apply the Google font to all <nav> links after page load
.wf-active .site-navigation-list-link a:link,
.wf-active .site-navigation-list-link a:visited { 
  @include fonts($robo, visible);
  @include master-center;
  background-color: $aside-color;
  text-decoration: none;
  visibility: visible;
  font-size: 20px;
  float: none;
  padding: 9px 0;
  display: block;
  color: #FFF;
  border-bottom: 1px solid lighten(saturate($base-link-color, 28), 6);
}

// ===========================================================================
// Navigation styles end
// ===========================================================================





// ===========================================================================
// Search box-related styles start
// ===========================================================================

// may be redundant
.no-js .site-navigation-list-styles {
  display: block;
  position: relative;
}

// '#no-js-searchbox' is the Google-powered searchbox. Set to appear on
// browsers with JavaScript and/or CSS turned off
.js #no-js-searchbox {
  @include hide-element;
}

// jQuery-powered searchbox courtesy of Tipue (http://www.tipue.com/search/).// Set to appear on browsers with JavaScript turned on. the 'pagination' class 
// shares some of these styles.
//
// Tipue styles start here.
#tipue_search_input {
  font: 13px/1.5 'open sans', $srf;
  font-style: italic;
  color: #333;
  padding: 7px;
  margin: 0;
  width: 205px;
  border: 1px solid #d3d3d3;
  outline: none;
}

.tipue_search_content_text {
  color: #111;
  padding: 16px 0;
  line-height: 36px;
}

.search-highlight {
  font-weight: bolder;
  font-style: normal;
}

#tipue_search_input:focus {
  border-color: #c3c3c3;   
}

#tipue_search_button {
  width: 60px;
  height: 33px;
  margin-top: 1px;
  border: 1px solid #dcdcdc;
  background: #f1f1f1 url('../img/search.gif') no-repeat center;
  outline: none;
  text-indent: -9999px;
}

#tipue_search_button:hover {
  border: 1px solid #c3c3c3;
}
// Tipue styles start end.

.pagination, #tipue_search_foot {
  @include pagBox
}

#tipue_search_foot_boxes {
  @include pagUL;
}

#tipue_search_foot_boxes li {
  @include floatListItem;
}

#tipue_search_foot_boxes li a {
  @include pagButtonInner;
}

#tipue_search_foot_boxes li.current {
  @include pagButtonCurrent;
}

.current-page {
  @include pagButtonCurrent;
}
#tipue_search_foot_boxes li a:hover {
  box-shadow: 1px 1px 2px #e3e3e3;
}

.tipue_search_content_title {
  font-family: $robo;
  margin-top: 31px;
}
.tipue_search_content_title a {
  color: darken($post-link-color, 4);
  text-decoration: none;
}

.tipue_search_content_title a:hover {
  color: #333;    
}

// Hide the Google font on all search result links before page load
.wf-loading .search-result-font,
.wf-inactive .search-result-font {
  @include fonts($srf, hidden);
}

// Apply the Google font to all search result links after page load
.wf-active .search-result-font {
  @include fonts($robo, visible);
}

#tipue_search_content {
  padding: 25px 0 13px 0;
  margin: 0;
}

#tipue_search_warning_head {
  font: 14px/1.5 'open sans', $srf;
  color: #333;
  text-align: center;
}

#tipue_search_warning {
  font: 300 14px/1.5 $srf;
  color: #111;
  margin: 13px 0;
}

#tipue_search_warning a {
  color: #36c;
  text-decoration: none;
}

#tipue_search_warning a:hover {
  color: #111;     
}

#tipue_search_results_count {
  font: italic 25px $robo;
  color: #111;
}

// ===========================================================================
// Search box-related styles end
// ===========================================================================





// ===========================================================================
// Page content styles start
// ===========================================================================

// // All text links (except for post meta info) are blue but have no underline.
// a:link, a:visited { 
//   color: darken($post-link-color, 4);
//   text-decoration: none;
// }

// // All text links have an underline on hover.
// a:hover {  
//   color: darken($post-link-color, 1);
//   text-decoration: underline;
// }

// title tag for post snippets All text links (except for post meta info) are
// blue but have no underline.
.post-snippet-link:link, .post-snippet-link:visited { 
  color: darken($post-link-color, 4);
  text-decoration: none;
  @include transitions (color);
}

// All text links have an underline on hover.
.post-snippet-link:hover {  
  color: lighten($post-link-color, 15);
  text-decoration: underline;
}

// Container for all unique page content: blog post copy, search results, etc.
.page-content {
  @include full-height;
  background-color: #fff;
  padding: 10px;
  width: auto;
  text-align: left;
}

// Post snippet that displays on both the home page and search results.
.post-snippet {
  @include bottomBorder($darken-the-aside-color);
  padding-bottom: 48px;
}

// picture that appears in posts
.post-pic {
  float: left;
  padding: 0 10px 10px 0;
}

// <div> that wraps related posts styles that appear on single post pages
.related-posts-style {
  @include related-posts-header(20px);
  @include master-center;
  padding: 10px;
  background-color: #E1F5F6;
  clear: both
}

// <h3> for related posts
.related-posts-header {
  @include related-posts-header(20px);
  @include master-center;
}

// <li> in related posts area
.related-posts-list-item {
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: left;
  list-style: none;
}

// <ul> in the item in the "share post" posts section
.social-sharing-list-post-class {
  padding: 0;
  width: 287px;
}

// <li> tag for the above-mentioned <ul>
.social-sharing-list-item {
  list-style-type: none;
  padding-right: 10px;
  line-height: 1;
  margin-bottom: 15px;
}

// link styling for the 'share link' area of the post pages
.share-post-link {
  @include share-post-link($srf);
}

// ===========================================================================
// Page content styles end
// ===========================================================================





// ===========================================================================
// Aside styles start
// ===========================================================================

// <aside> tag
.aside-outer-wrapper-class {
  color: $darken-the-aside-color;
  height: auto;
  width: auto;
  padding:1px 10px;
  background: $aside-color;
  box-shadow: inset 0 5px 18px rgba(0, 0, 0, 0.6);
}

// inner wrapper for <aside>...better contains all the elements/columns
.aside-inner-wrapper-class {
  display:table;
  margin: 0 auto;
}

// hide the Google font on all <h3> tags in the <aside> before page load
.wf-loading .aside-section-header {
  @include fonts($srf, hidden);
}

// apply the Google font to all <h3> tags in the <aside> after page load
.wf-active .aside-section-header {
  @include fonts($robo, visible);
  font-size: 23px;
  border-bottom: 1px solid #01070A;
  margin: 0;
}

// applied to all <sections> in <aside>
.all-aside-sections {
  width: 250px;
}

// Style related to a picture of me in <aside>
.author-image-class {
  float: left;
  padding:16px 10px 4px 0;
}

// padding for the <h3> tag for ad section in the <aside> tag
.ad-title-margin {
  margin-bottom: 16px;
}

// <li> tag in nav section of <aside>
.aside-nav-list-item {
  list-style-type: none;
}

// <ul> that contains the kaidez social networking links in the <aside>
.kaidez-social-network-list-styles {
  padding: 0;
  margin:16px auto 0;
  text-align: center;
  width: 287px;
}

// <li> tag wrapping kaidez social network links in <aside>
.kaidez-social-sharing-list-item {
  list-style-type: none;
  float: left;
  margin-right: 14px;
}

// link styling for kaidez social networking links
.kaidez-social-sharing-list-item-link {
  height: 56px;
  width: 56px;
  display: block;
  text-indent: -9999px;
}

// Applied to form fields in <aside>
.aside-contact-fieldset-styles {
  border: none;
  padding: 0;
}

// copyright <p> tag in <aside>
.copyright-style {
  display:block;
  clear: both;
  width: 1024px;
  padding: 59px 0;
  margin: 0 auto;
}

// ad section of the <aside>
.ad-section-class {
  margin: 34px auto;
}

// ===========================================================================
// Aside styles end
// ===========================================================================


// ===========================================================================
// Global styles end
// ===========================================================================