/*
 * ============================================================================
 * Global styles start:
 *
 * These are styles which should appear on all devices, regardless of screen 
 * dimension or computer resolution. There may be other references to these
 * classes and ids in other .scss files, but they should only add to the
 * list of properties and not override already-existing properties.
 * ============================================================================
 */





/*
 * ===========================================================================
 * Start "all-around" styles that should affect the entire page and not one 
 * specfic page region section (i.e., headers, footers, etc.)
 * ===========================================================================
 */

body {
  background-color: $site-background-color;
  max-width: 100%;
}

html, body {
  height: 100%;
}

/*
 * Clearfix: contain floats (borrowed from HTML5 Boilerplate)
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * ===========================================================================
 * End "all-around" styles
 * ===========================================================================
 */





/*
 * ===========================================================================
 * Header styles start
 * ===========================================================================
 */

// Hide Google 'Roboto' font on all <header> tags before page load
.wf-loading h1, .wf-inactive h1,
.wf-loading h2, .wf-inactive h2,
.wf-loading h3, .wf-inactive h3,
.wf-loading h4, .wf-inactive h4,
.wf-loading h5, .wf-inactive h5,
.wf-loading h6, .wf-inactive h6, {
  @include fonts($srf);
  visibility: hidden;
}

// Apply Google 'Roboto' font to all <header> tags after page load.
.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6 {
  font-family: $robo;
  visibility: visible;
}

// Logo link...provides a large enough space for a click area
.homepage-link {
  display: block;
}

// Hide menu heading on mobile phones
#menu-heading {
  @include hide-element;
}

// outer wrapper for the <header> which wraps the link, nav & search elements
.outer-wrapper-nav-header {
  background-color: $header-color;
}

// <header> tag
.site-header {
  text-align: left;
}

// <h2> tag...the "closing tags...wrapping functions" text
.site-description {
  clear: both;
}

/*
 * ===========================================================================
 * Header styles end
 * ===========================================================================
 */





/*
 * ===========================================================================
 * Navigation styles start
 * ===========================================================================
 */

// <nav> tag
.main-navigation {
  width: auto;
  border-top: 1px solid $base-link-color;
}

// Hide the Google font on all <nav> links before page load
.wf-loading .site-navigation-list-link {
  font-family: $srf;
  visibility: hidden;
  font-size: 20px;
}

// Apply the Google font to all <nav> links after page load
.wf-active .site-navigation-list-link a:link,
.wf-active .site-navigation-list-link a:visited { 
  @include fonts($robo);
  @include master-center;
  background-color: $footer-color;
  text-decoration: none;
  visibility: visible;
  font-size: 20px;
  float: none;
  padding: 9px 0;
  display: block;
  color: #FFF;
  border-bottom: 1px solid lighten(saturate($base-link-color, 28), 6);
}

/*
 * ===========================================================================
 * Navigation styles end
 * ===========================================================================
 */





/*
 * ===========================================================================
 * Search box-related styles start
 * ===========================================================================
 */


// may be redundant
.no-js #site-navigation-list, .no-js #searchform {
  display: block;
  position: relative;
}

/*
 * '#no-js-searchbox' is the Google-powered searchbox. Set to appear on
 * browsers with JavaScript and/or CSS turned off
 */
.js #no-js-searchbox {
  @include hide-element;
}

/*
 * jQuery-powered searchbox courtesy of Tipue (http://www.tipue.com/search/). * Set to appear on browsers with JavaScript turned on.
 */
#tipue_search_input {
  font: 13px/1.5 'open sans', $srf;
  font-style: italic;
  color: #333;
  padding: 7px;
  margin: 0;
  width: 205px;
  border: 1px solid #d3d3d3;
  outline: none;
}

.search-highlight {
  font-weight: bolder;
  font-style: none;
}

#tipue_search_input:focus {
  border-color: #c3c3c3;   
}

#tipue_search_button {
  width: 60px;
  height: 33px;
  margin-top: 1px;
  border: 1px solid #dcdcdc;
  background: #f1f1f1 url('../img/search.gif') no-repeat center;
  outline: none;
  text-indent: -9999px;
}

#tipue_search_button:hover {
  border: 1px solid #c3c3c3;
}

// Homepage pagination box & search results pagination box
.pagination, #tipue_search_foot {
  @include pagBox
}

#tipue_search_foot_boxes {
  @include pagUL;
}

#tipue_search_foot_boxes li {
  @include floatListItem;
}

#tipue_search_foot_boxes li a {
  @include pagButtonInner;
}

#tipue_search_foot_boxes li.current {
  @include pagButtonCurrent;
}

.current-page {
  @include pagButtonCurrent;
}
#tipue_search_foot_boxes li a:hover {
  box-shadow: 1px 1px 2px #e3e3e3;
}

.tipue_search_content_title {
  font-family: $robo;
  margin-top: 31px;
}
.tipue_search_content_title a {
  color: darken($post-link-color, 4);
  text-decoration: none;
}

.tipue_search_content_title a:hover {
  color: #333;    
}

// Hide the Google font on all search result links before page load
.wf-loading .search-result-font,
.wf-inactive .search-result-font {

  @include fonts($srf);
}

// Apply the Google font to all search result links after page load
.wf-active .search-result-font {
  font-family: $robo;
  visibility: visible;
}

#tipue_search_content {
  padding: 25px 0 13px 0;
  margin: 0;
}

#tipue_search_warning_head {
  font: 14px/1.5 'open sans', $srf;
  color: #333;
  text-align: center;
}

#tipue_search_warning {
  font: 300 14px/1.5 $srf;
  color: #111;
  margin: 13px 0;
}

#tipue_search_warning a {
  color: #36c;
  text-decoration: none;
}

#tipue_search_warning a:hover {
  color: #111;     
}

#tipue_search_results_count {
  font: italic 25px $robo;
  color: #111;
}

/*
 * ===========================================================================
 * Search box-related styles end
 * ===========================================================================
 */





/*
 * ===========================================================================
 * Page content styles start
 * ===========================================================================
 */

// All text links (except for post meta info) are blue but have no underline.
a:link, a:visited { 
  color: darken($post-link-color, 4);
  text-decoration: none;
}

// All text links have an underline on hover.
a:hover {  
  color: darken($post-link-color, 1);
  text-decoration: underline;
}

// Wraps all the page content, <header>, <nav>, <footer>, etc.
.containing-element {
  max-width: 100%;
}

// Container for all unique page content: blog post copy, search results, etc.
.page-content {
  @include full-height;
  background-color: #fff;
  padding: 10px;
  width: auto;
  text-align: left;
}

// Post snippet that displays on both the home page and search results.
.post-snippet {
  @include bottomBorder($darken-the-footer-color);
  padding-bottom: 48px;
}


// Related posts
#related-posts .related-posts-header {
  @include related-posts-header(20px);
  @include master-center;
}

// Related posts styles that appear on single post pages
.related-posts-style {
  padding: 10px;
  background-color: #E1F5F6;
  clear: both
}

#social-network-list {
  padding: 0;
  margin:0px auto;
  text-align: center;
  width: 287px;
}

.social-network-list-item {
  list-style-type: none;
  padding-right: 10px;
  line-height: 1;
  margin-bottom: 15px;
}

#social-network-list-post {
  padding: 0;
  width: 287px;
}

.kaidez-share-post-link {
  height: 56px;
  width: 56px;
  display: block;
  text-indent: -9999px;
}

/*
 * ===========================================================================
 * Page content styles end
 * ===========================================================================
 */




 






/*
 * ===========================================================================
 * Footer styles start
 * ===========================================================================
 */

// Primary footer element
.outerWrapperNavFooter {
  color: $darken-the-footer-color;
  height: auto;
  width: auto;
  padding:1px 10px;
  background: $footer-color url('../img/footer-bg.png') no-repeat left;
  box-shadow: inset 0 5px 18px rgba(0, 0, 0, 0.6);
}

// Hide the Google font on all <h3> tags in the footer before page load
.wf-loading .footer-header {
  @include fonts($srf);
}

// Apply the Google font to all <h3> tags in the footer after page load
.wf-active .footer-header {
  font-size: 23px;
  visibility: visible;
}

// Style related to a picture of me
#author-image {
  float: left;
  padding:0 10px 4px 0;
}

.kaidez-social-network-list-item {
  list-style-type: none;
  float: left;
  margin-right: 10px;
}

/*
 * ===========================================================================
 * Footer styles end
 * ===========================================================================
 */

/*
 * ===========================================================================
 */

/*
 * ===========================================================================
 * Global styles end
 * ===========================================================================
 */