@media only screen and (min-width: 321px) and (max-width:568px) {

/*
 ===================
 Header styles start
 ===================
 */
.wf-active h1 {
  // font: $helv; // may go
  font-size: 1.3rem;
}

// Logo link...provides a large enough space for a click area
// .homepage-link {
//   width: 136px;
//   height: 39px;
// }

// hide the <h2> tag in the <header> on page load
.site-description {
  @include hide-element;
}

.header-pic-class {
  display: none;
}

.site-header {
  width: auto;
}

/*
 =================
 Header styles end
 =================
 */





/*
 =======================
 Navigation styles start
 =======================
 */

// Hide menu heading on mobile phones
#menu-heading {
  @include hide-element;
}

#site-navigation-list {
  display:none;
  margin:0;
  padding:0;
}

/*
 =====================
 Navigation styles end
 =====================
 */





/*
 ========================
 Single post styles start
 ========================
 */

/*
 * apply the Google font to all <header> tags,
 * except the Mobile First post tag
 */
.wf-active h1 {
  // font: $helv; // may go
  font-size: 1.3rem;
}


// Styles for post <h1> tag
.wf-active h1.post-title {
  font-size: 24px;
  margin:0;
  line-height: 1.3;
}

.breadcrumbStyles {
  font-size: 14px;
  padding: 20px 10px 35px 10px;
}

// Mobile First post styles end

// Related post links
.related-posts-header {
  @include master-center;
}

.related-posts-link {
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 20px;
}

/*
 ======================
 Single post styles end
 ======================
 */





/*
 ===============================
 Search box-related styles start
 ===============================
 */

// the div that contains the search box
#searchbox {
  display: none;
  background: #fff;
}

#not-found-searchbox {
  display: block
}

.searchbox-style {
  @include master-center;
  padding:15px 0;
  position: static;
}

.searchfield-style {
  width: 260px;
}

.tipue_search_content_text {
  color: #111;
  padding: 13px 0;
  line-height: 1.7;
}

/*
 =============================
 Search box-related styles end
 =============================
 */





/*
 ====================
 Content styles start
 ====================
 */
  
// For the main element
.page-content {
  @include content-width($mobile-width)
}

/*
==================
Content styles end
==================
*/





/*
 ==========================
 Category page styles start
 ==========================
*/

.wf-loading .category-header,
.wf-inactive .category-header {
  font-size: 1.5rem;
  margin-top: 0;
  @include fonts($srf);
}

.wf-active .category-header {
  font-size: 1.5rem;
  margin-top: 0;
  @include fonts($robo);
}

.category-description-page {
  padding:12px;
  margin-bottom: 35px;
}

/*
 ========================
 Category page styles end
 ========================
*/





/*
 ===========================
 Footer-related styles start
 ===========================
 */
#footer-contact-fieldset {
  border: none;
}
.footer-contact-fields {
  width:152px;
}

.social-network-link {
  font-size:16px;
  line-height: 1;
}

// Footer styles start

.footer-sections {
  width:300px;
}

.footer-paragraph {
  font-size:15px;
}

/*
 =========================
 Footer-related styles end
 =========================
 */




/*
 =================================
 Home page pagination styles start
 =================================
*/

// Unordered lists
.pages {
  @include pagUL
}

// Individual list item
.page {
  @include floatListItem;
  @include pagButtonItem;
}

// Inner part of the lpagination button
a.pagination-link {
  @include pagButtonInner
}


/*
 ===============================
 Home page pagination styles end
 ===============================
*/
}