@media only screen and (min-width: 321px) and (max-width:568px) {

  // ==========================================================================
  // Page content styles start
  // ==========================================================================

  // For the main element
  .page-content {
    max-width: $mobile-landscape-width;
    padding: 15px 15px 58px;
  }

  .breadcrumb-styles {
    @include breadcrumb-styles(14px, 19px);
    padding-top: 10px;
  }

  // ==========================================================================
  // Page content styles end
  // ==========================================================================




}