/*
 * ============================
 * 'Mobile First' styles start:
 *
 * These are styles which should appear on mobile devices only. They are 
 * placed outside of a media query, meaning that they are the first styles to 
 * be called on page load: i.e. "mobile first." oldIE does not support media
 * queries so it can only read code outside of them...link this code. We don't 
 * want this so we've taken care of this by creating '_oldIE.scss' which
 * contains CSS that works in IE 8...kaidez.com doesn't care about IE7 and
 * older.
 * ============================
 */

/*
 ==============================================================
 */

  // the "Read post" link on the home, category and search pages
  .read-post-link {
    @include read-post-link($master-border-radius);
  }

/*
 * ===================
 * Header styles start
 * ===================
 */

// outer wrapper for the <header> which wraps the link, nav & search elements
.outerWrapperNavHeader {
  width: 100%;
}

// may be useless...check
.wf-active h1 {
  font-size: 1.3rem;
}

 // <header> tag
.site-header {
  width: auto;
}

// hide the <h2> tag in the <header> on page load
.site-description {
  @include hide-element;
}

/*
 * =================
 * Header styles end
 * =================
 */





/*
 * =======================
 * Navigation styles start
 * =======================
 */

#site-navigation-list {
  @include site-navigation-list(none);
}

.nav-search-style {
  float: none;
}

/*
 =====================
 Navigation styles end
 =====================
 */





/*
 ========================
 Single post styles start
 ========================
 */

/*
 * apply the Google font to all <header> tags,
 * except the Mobile First post tag
 */
.wf-active h1 {
  // font: $helv; // may go
  font-size: 1.3rem;
}


// Styles for post <h1> tag
.wf-active h1.post-title {
  font-size: 24px;
  margin:0;
  line-height: 1.3;
}

.breadcrumb-styles {
  font-size: 14px;
  padding: 20px 10px 35px 10px;
}

// Mobile First post styles end

// Related post links
.related-posts-header {
  @include master-center;
}

.related-posts-link {
  line-height: 1.4;
  font-size: 14px;
  margin-bottom: 20px;
}

/*
 ======================
 Single post styles end
 ======================
 */





/*
 ===============================
 Search box-related styles start
 ===============================
 */

// the div that contains the search box
#searchbox {
  display: none;
}

#not-found-searchbox {
  display: block
}

.searchbox-style {
  @include master-center;
  padding:15px 0;
  position: static;
}

.searchfield-style {
  width: 260px;
}

.tipue_search_content_text {
  color: #111;
  padding: 13px 0;
  line-height: 1.7;
}

/*
 =============================
 Search box-related styles end
 =============================
 */





/*
 ====================
 Content styles start
 ====================
 */
  
// For the main element
.page-content {
  @include content-width($mobile-portrait-width)
}

.containing-element {
  width: auto;
}

.breadcrumb-styles {
  @include breadcrumb-styles(14px);
}

/*
==================
Content styles end
==================
*/





/*
 ==========================
 Category page styles start
 ==========================
*/

.wf-loading .category-header,
.wf-inactive .category-header {
  font-size: 1.5rem;
  margin-top: 0;
  @include fonts($srf);
}

.wf-active .category-header {
  font-size: 1.5rem;
  margin-top: 0;
  @include fonts($robo);
}

.category-description-page {
  padding:12px;
  margin-bottom: 35px;
}

/*
 ========================
 Category page styles end
 ========================
*/





/*
 ===========================
 Footer-related styles start
 ===========================
 */
#footer-contact-fieldset {
  border: none;
}
.footer-contact-fields {
  width:152px;
}

.social-network-link {
  font-size:16px;
  line-height: 1;
}

// Footer styles start

.footer-sections {
  width:300px;
}

.footer-paragraph {
  font-size:15px;
}

/*
 =========================
 Footer-related styles end
 =========================
 */




/*
 =================================
 Home page pagination styles start
 =================================
*/

// Unordered lists
.pages {
  @include pagUL
}

// Individual list item
.page {
  @include floatListItem;
  @include pagButtonItem;
}

// Inner part of the lpagination button
a.pagination-link {
  @include pagButtonInner
}

/*
 ===============================
 Home page pagination styles end
 ===============================
*/