/*
 * ==========================================================================
 * oldIE styles start:
 *
 * The 'mobile first' styles load first because they're not inside of a 
 * '@media' call.  As a result, they are the styles that will render in IE8 
 * and lower, which we don't want: the desktop styles should load first.  
 * Therefore, 'oldIE.scss' is created to to hold styles that should render in 
 * these browsers and load after the "mobileLandscape" styles.
 * ==========================================================================
 */


.lt-ie9 {

  .wf-active h1,
  .wf-active h2,
  .wf-active h3,
  .wf-active h4,
  .wf-active h5,
  .wf-active h6 {
    @include fonts($robo);
    font-size: 1.0rem;
  }

/*
 * ===================
 * Header styles start
 * ===================
 */

  // outer wrapper for the <header> which wraps the link, nav & search elements
  .outerWrapperNavHeader {
    width: auto;
    padding: 21px;
    border-bottom: 3px solid $base-link-color;
  }

  // the inner wrapper for the <header>
  .inner-wrapper-nav-header  {
    @include inner-wrapper-nav-header;
  }

  // Logo link...provides a large enough space for a click area
  .homepage-link {
    @include homepage-link 
  }  

  // <header> tag
  .site-header {
    max-width: 450px;
    float: left;
  }

  // wrap header elements 
  .top-level-header-wrapper {
    @include top-level-header-wrapper
  }

  .site-description {
    display: block;
    position: static;
    font-size: 14px;
    margin: 0;
    width: 245px;
  }

  // searchbox
  .searchbox-style {
    text-align: left;
  }

  .site-title {
    @include sprite-images('../img/snSprite.png', -125px -80px, 62px, 221px);
    text-indent: -999px;
    margin: 0;
    float: left;
  }
  
  // Shared class for nav and searchbox elements
  .header-element-margin {
    margin-left: 100px;
    position: relative;
    left:200px;  
  }

  #site-navigation-list {
    @include show-menu;
    @include master-center;
    padding: 0;
    width: 500px;
    height: 17px;
  }

  // Hide moble menu and search icons on all devices EXCEPT hand-helds
  #menu, #search {
    @include hide-element;
  }

  .main-navigation {
    @include main-navigation;
  }

  .site-navigation-list-link {
    float: left;
    display: inline;
    padding: 6px;
    margin-right: 12px;
  }


  .wf-active .site-navigation-list-link a:link,
  .wf-active .site-navigation-list-link a:visited,
  .wf-active .site-navigation-list-link a:hover { 
    @include fonts($helv);
    border: 0;
    width: 90px;
    height: 17px;
    color: #fff;
    font-size: 14px;
    float: left;
    padding: 6px;
    background-color: $footer-color;
    display: inline;
  }

  #s {
    font-size: 1em;
  }

  #searchbox {
    display: block;
    float: left;
  }

  .page-content {
    width: $inner-content-width;
    max-width: $inner-content-width;
    font-size: 18px;
    line-height: 36px;
    padding-top:21px;
    margin:0 auto;
  }

.breadcrumb-styles {
  @include breadcrumb-styles(16px);
  padding-top: 10px;
}

  .footer-header {
    @include makeTextShadow($footer-color);
    border-bottom: 2px dotted darken($footer-color, 25);
  }

  .footer-sections {
    width: $footer-column-width-desktop;
    float: left;
  }

  .midFooterSection {
    margin:0 getGutterWidth($inner-content-width);
  }

  .copyrightStyle {
    clear: both;  
  }

  .innerWrapperNavFooter {
    width: $inner-content-width;
    margin: 0 auto 53px;
  }

  .outerWrapperNavFooter {
    background: $footer-color url('../img/footer-bg.png') no-repeat left;
  }
  
  // the "Read post" link on the home, category and search pages
  .read-post-link {
    @include read-post-link;
  }
}
/* oldIE styles end*/