




/*
 * ======================================================
 * The entire retina/non-retina media query styles start
 *
 *   ====================
 *   HOW THIS STUFF WORKS
 *   ====================
 *
 * kaidez.com uses a sprite which contains images for:
 *
 *   -the site logo
 *   -the menu image in the header on mobile
 *   -the search icon in the header on mobile devices
 *   -the search icon that appears in the search bar
 *   -all four social networking icons in the site
 *    footer
 *
 * There are two versions of this sprite:
 *
 *   -'snSprite.png': the non-retina device version.
 *   -'snSprite@2x.png': the retina device version.
 *
 * The layout for the social netowking icons is
 * consistent across all devices and resolutions. The logo
 * and the two mobile-based images appear differently
 * across all devices and resolutions. Everything takes a
 * 'mobile first' approach by looking for loading in the
 * non-retina mobile layout first and foremost. As more
 * and more mobile devices are released with hi-resolution,
 * it may be better to load the retina mobile layout first
 * and foremost. Maybe in the future?
 *
 * If the viewer isn't viewing the site in a 'non-retina
 * mobile' way, the sprite loads using one of the following
 * methods:
 *
 *   -'$retina' loads all the sprite layouts to
 *     retina tablets and desktops
 *
 *   -'$desktop' loads the logo-layout only to the
 *    non-retina tablets and desktops (again, the social
 *    networking sprite layout is consistent across all
 *    devices and resolutions)
 *
 *   -'$mobile-retina' loads the logo-layout only to retina
 *    mobile devices (one more time: the social
 *    networking sprite layout is consistent across all
 *    devices and resolutions)
 * 
 * ======================================================
 */

/*
 * ==================================================
 * Non-retina media starts for desktops and handhelds
 * ==================================================
 */

// Non-retina social icons start
#twitter {
  @include sprite-images('../img/snSprite.png', -1px -2px, 64px, 64px);
}

#google-plus {
  @include sprite-images('../img/snSprite.png', -76px -2px, 64px, 64px);
}

#github {
  @include sprite-images('../img/snSprite.png', -147px -2px, 64px, 64px);
}

#youtube {
  @include sprite-images('../img/snSprite.png', -219px -2px, 64px, 64px);
  float: left;
  list-style-type: none;
}

// Non-retina social icons end

// Menu bg image for mobile
#menu {
  @include sprite-images('../img/snSprite.png', -2px -68px, 44px, 44px);
  display: block;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

// Search bg image for mobile
#search {
  @include sprite-images('../img/snSprite.png', -41px -69px, 44px, 44px);
  display: block;
  margin-right:10px;
  cursor: pointer;
  float: right;
}

// Search button by the search field
.btnSearch {
  @include sprite-images('../img/snSprite.png', -87px -78px, 27px, 28px);
  border: 0;
  text-indent: -999px;
  padding: 0;
  position: relative;
  left: -42px;
  top: -3px;
}


// <h1> tag in the <header>...MOBILE, NON-RETINA VERSION
.site-title {
  @include sprite-images('../img/snSprite.png', -117px -149px, 60px, 176px);
  @include desktop-logo-sprite-add-on;
}

 /*
  * ======================
  * Non-retina stuff ends
  * ======================
  */

 /*
  * ====================
  * Retina stuff starts
  * ====================
  */

// Desktop and tablet retina:
@media #{$desktop-tablet-retina} { 

  // Retina social icons
  #twitter {
    @include sprite-images('../img/snSprite@2x.png', -1px -2px, 64px, 64px);
  }

  #google-plus {
    @include sprite-images('../img/snSprite@2x.png', -76px -2px, 64px, 64px);
  }

  #github {
    @include sprite-images('../img/snSprite@2x.png', -147px -2px, 64px, 64px);
  }

  #youtube {
    @include sprite-images('../img/snSprite@2x.png', -219px -2px, 64px, 64px);
    float: left;
    list-style-type: none;
  }

  // Retina menu icons
  
  //Menu
  #menu {
    @include sprite-images('../img/snSprite@2x.png', -2px -68px, 44px, 44px);
    display: block;
    float: right;
    margin-right: 10px;
    cursor: pointer;
  }

  // Search icon
  #search {
    @include sprite-images('../img/snSprite@2x.png', -41px -69px, 44px, 44px);
    display: block;
    margin-right:10px;
    cursor: pointer;
    float: right;
  }

  // Search button
  .btnSearch {
    @include sprite-images('../img/snSprite@2x.png', -79px -78px, 27px, 44px);
    border: 0;
    text-indent: -999px;
    padding: 0;
    position: relative;
    left: -42px;
    top: -3px;
  }

  // <h1> tag in the <header>...DESKTOP ONLY!!!!!!!!!!!
  .site-title {
    @include sprite-images('../img/snSprite@2x.png', -125px -80px, 62px, 221px);
    text-indent: -999px;
    margin: 0;
    float: left;
  }
}


// Desktop and tablet non-retina:
@media #{$desktop-tablet} { 

  // <h1> tag in the <header>
  .site-title {
    @include sprite-images('../img/snSprite.png', -125px -80px, 62px, 221px);
    text-indent: -999px;
    margin: 0;
    float: left;
  }
}


// Mobile retina:
@media #{$mobile-retina} { 

  // <h1> tag in the <header>
  .site-title {
    @include sprite-images('../img/snSprite@2x.png', -117px -149px, 60px, 176px);
    text-indent: -999px;
    margin: 0;
    float: left;
  }
}

/*
 * =====================
 * Retina media ends
 * =====================
 */

 /*
  * ===================================================
  * The entire retina/non-retina media query style ends
  * ===================================================
  */





