@media only screen and (min-width: 729px) and (max-width:1024px) {
  
  // =========================================================================
  // Start "all-around" styles that should affect the entire page and not one 
  // specfic section (i.e., <header>, <footer>, <content>, etc.)
  // =========================================================================
   


  
  // Handhelds and tablets get the Lato-type Google font. Too many fonts 
  // applied to handhelds will slow down their page load.
  body {
    @include fonts($lato);
  }

  
  // =========================================================================
  // Header styles start
  // =========================================================================
   

  // Show Google 'Roboto' font on all <header> tags before page load
  .wf-active h1,
  .wf-active h2,
  .wf-active h3,
  .wf-active h4,
  .wf-active h5,
  .wf-active h6 {
    @include fonts($robo, visible);
  }
  
  // Logo link
  .homepage-link {
    @include homepage-link(63px, 211px);
  }

  // <header> tag
  .site-header {
    @include site-header;
  }

  // Shared class for nav and searchbox elements
  .header-element-margin {
    @include header-element-margin-tablet 
  }

  // the inner wrapper for the <header>
  .inner-wrapper-nav-header {
    @include inner-wrapper-nav-header;
  }

  // outer wrapper for the <header> which wraps the link, nav & search elements
  .outer-wrapper-nav-header {
    @include outer-wrapper-nav-header;
    // @include gradient-bg;
    background-color: $header-color;  
    min-height: 130px;
  }

  // <h2> tag...the "closing tags...wrapping functions" copy
  .site-description {
    display: block;
    position: static;
    font-size: 16px;
    margin: 0;
    width: 270px;
    line-height: 2.5;
  }
  
  // =========================================================================
  // Header styles end
  // =========================================================================
   



  
  // ========================================================================
  // Navigation styles start
  // ========================================================================
    

  // <nav> tag
  .main-navigation {
    width: auto;
    border-top: none;
  }

  // <nav> list items
  .main-navigation-list {
    @include show-menu;
    @include master-center;
  }

  .nav-search-style {
     @include nav-search-style;
     margin-top: 18px;
  }

  // <ul> tag
  .site-navigation-list-styles {
    @include site-navigation-list(block);
  }

  .site-navigation-list-link {
	  float:left;
  }
  
  .wf-active .site-navigation-list-link a:link,
  .wf-active .site-navigation-list-link a:visited,
  .wf-active .site-navigation-list-link a:hover { 
    @include link-styles(29px, 13px, 5px, $header-color);
    -webkit-border-radius: $master-border-radius;
    -moz-border-radius: $master-border-radius;
    border-radius: $master-border-radius;
  }

  
  // =========================================================================
  // Navigation styles end
  // =========================================================================




  // =========================================================================
  // Search styles start
  // =========================================================================

  // The div that contains the search box...either show it or hide it
  .searchbox-display {
    display: block;
  }

  // styles the main searchbox
  .searchbox-style {
    text-align: left;
    padding:40px 0 0 0;
  }

  // jQuery-powered searchbox courtesy of Tipue (http://www.tipue.com/search/).// Set to appear on browsers with JavaScript turned on.
  #tipue_search_input{
    font: 13px/1.5 'open sans', $srf;
    color: #333;
    padding: 7px;
    margin: 0;
    width: 250px;
    border: 1px solid #d3d3d3;
    -webkit-border-radius: $master-border-radius;
    -moz-border-radius: $master-border-radius;
    border-radius: $master-border-radius;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
  }
 
  #tipue_search_input:focus {
    border-color: #c3c3c3;
    box-shadow: 0 0 3px rgba(0,0,0,.2);     
  }

  #tipue_search_button {
    width: 60px;
    height: 33px;
    margin-top: 1px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    background: #f1f1f1 url('../img/search.gif') no-repeat center;
    outline: none;
  }

  #tipue_search_button:hover {
    border: 1px solid #c3c3c3;
    -moz-box-shadow: 1px 1px 2px #e3e3e3;
    -webkit-box-shadow: 1px 1px 2px #e3e3e3;
    box-shadow: 1px 1px 2px #e3e3e3;
  }

  // =========================================================================
  // Search styles end
  // =========================================================================
  




  // =========================================================================
  // Page content styles start
  // =========================================================================

// Post snippet title
  .post-snippet-title {
    font-size: 30px;
  }

  // Styles for post and category <h1> tags
  .wf-active h1.post-title, .wf-active h1.category-title  {
    @include post-category-title(40px, 31px 0 6px);
  }

  // For the main element
  .page-content {
    @include page-content($inner-content-width, #fff);
  }

  .breadcrumb-styles {
    @include breadcrumb-styles(16px, 45px);
  }

  // the breadcrumb-separator
  .breadcrumb-separator {
    @include breadcrumb-separator(10px);
  }

  // make sure the breadcrumb is visible since it's being overridden by the mobileFirst view's reference.
  
  .breadcrumb-last {
    display:inline;
  }

  // Related post links
  .related-posts-header {
    @include related-posts-header(21px);
  }

  //Font styles for tablets & desktops. Google font doesn't load on mobile.
  .share-post-link {
    @include share-post-link;
  }

  .share-post-container-class {
    @include site-border-radius;
    padding:10px;
    margin-bottom: 40px;
  }

  .sharePostStructure {
    display: inline-block;
  }

  // <footer> in <article> tags in posts...styles the post's publish date
  .articleFooterClass {
    line-height: normal; 
  }

  .topSectionWrapperClass {
    text-align: center;
    margin: 0 auto;
    padding: 17px;
  }

  .newestArticleHeaderClass {
    font-size: 23px;
  }

  .newestArticleClass {
    @include create-outer-box-shadow;
    width: 710px;
    padding-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

.adsClass {
 padding: 10px;
 margin-top: 34px;
 width: 500px;
 border: 1px solid #ccc6c6;
}

.adsClassTitle {
  position: relative;
  background-color: #fff;
  clear: both;
  bottom: 24px;
  color: #ccc6c6;
}

.homePageSectionHeaderText {
  font-size: 20px;
}

// the post title in the NEWEST ARTICLE section on the home page
.newestArticlePostTitle {
  font-size: 40px;
  padding: 0 10px;
  line-height:1.3;
}

  .newestArticlePostText {
    width: 400px;
    display: inline-block;
    position: relative;
    bottom: 62px;
  }

 .sharedCategoryStyling {
    @include create-outer-box-shadow;
    padding: 15px 33px 40px;
  }

  // =========================================================================
  // Page content styles end
  // =========================================================================





  // =========================================================================
  // Aside styles start
  // =========================================================================
   
  // apply background image to the footer
  .aside-outer-wrapper-class {
    background: $aside-color url('../img/footer-bg.png') no-repeat left;
  }
  
  .aside-inner-wrapper-class {
    margin-top: 16px;
  }

  // the <aside> nav links
  .aside-nav-link {
    @include aside-nav-link;
    @include transitions(all);
  }
  
   // hover state for the <aside> nav links
  .aside-nav-link:hover {
    background-color: $darken-the-aside-color;
    padding-left: 5px;
    color: #fff;
  }

  .aside-column-class {
    max-width: 1024px;
    clear: both;
    margin-bottom: 35px;
  }

  .aside-about-section-class,
  .aside-nav-section-class {
    float:left;
    margin-right: 30px;
  }

  .aside-ad-section-class,
  .aside-social-network-section-class {
    float:right;
    margin-left: 30px;
  }

  .contact-form-field {
    @include contact-form-field;
  }

  .aside-header {
    width: 300px;
  }
  
  // =========================================================================
  // Aside styles end
  // =========================================================================





  // =========================================================================
  // Footer styles start
  // =========================================================================

  // styling hook for <footer>
  .footer-outer-wrapper-class {
    @include create-inner-box-shadow;
  }
  
  // inner wrapper in the <footer>
  .footer-inner-wrapper-class {
    max-width: 1024px;
    margin: 0 auto;
  }

  .copyright-style {
    text-align: center;
    margin-bottom: 20px;
  }
  
  // <h3> for the colophon
  .colophon-header {
    color: darken($header-color,10);
    display: block;
    margin-top: 16px;
    text-align: center;
  }

  //  the colophon containing element
  .colophon-class {
    background-color: darken($aside-color, 11);
    @include site-border-radius;
    max-width: 528px;
    display: block;
    padding:12px;
    margin: 0 auto;
  }

  // <ol> element for Jekyll, AWS & MaxCDN links
  .colophon-list-class {
    padding: 0;
    margin: 0;
    float: left;
  }

  // individual <li> tags for footer image links
  .colophon-list-item-class {
    list-style-type: none;
    display: inline;
    float: left;
    margin-right: 10px;
    text-indent: -9999px;
    @include transitions (opacity);
  }

  .colophon-list-item-class:hover {
    opacity: 0.5;
  }

  // set height/width for jekyll bg link
  .jekyll-link {
    @include footer-link-hit-area(57px, 151px);
  }
  
  // set height/width for aws bg link
  .mediaTemple-link {
    @include footer-link-hit-area(57px, 151px);
  }
  
  // set height/width for maxcdn bg link
  .maxcdn-link {
    @include footer-link-hit-area(39px, 151px);
  }


  // ==========================================================================
  // Footer styles end
  // ==========================================================================

}