@media only screen and (min-width: 569px) and (max-width:728px) {

  /*
   * Handhelds and tablets get the helvetica-type
   * Google font. Too many fonts applied to handhelds
   * will slow down their page load.
   */
  body {
    @include fonts($helv);
  }

  // apply the Google font to all <header> tags  
  .wf-active h1,
  .wf-active h2,
  .wf-active h3,
  .wf-active h4,
  .wf-active h5,
  .wf-active h6 {
    @include fonts($robo);
  }

  // the "Read post" link on the home, category and search pages
  a.read-post-link {
    @include read-post-link($master-border-radius);
  }

  /*
   * ===================
   * Header styles start
   * ===================
   */
  
  // Shared class for nav and searchbox elements
  .header-element-margin {
    @include header-element-margin-tablet  
  }

  // Logo link...provides a large enough space for a click area
  .homepage-link {
    @include homepage-link(65px, 209px);
  }

  // the inner wrapper for the <header>
  .inner-wrapper-nav-header {
    padding: 8px 15px 15px 15px;
  }

  // searchbox
  .searchbox-style {
    padding: 19px 0 0 0;
  }

  // <h2> tag...the 'closing tags...wrapping functions text'
  .site-description {
    @include hide-element;
  }

  // <header> tag
  .site-header {
    margin-bottom: 37px;
  }

  .site-title {
    margin: 0 auto;
    float: none;
  }

  /*
   * =================
   * Header styles end
   * =================
   */





  /*
   * =========================================================================
   * Navigation styles start
   * =========================================================================
   */
  
  // <nav>
  .main-navigation {
    border-top: none;
    margin: 0 auto;
    display: table;
  }
  
  // <nav> list items
  .main-navigation-list {
  	@include show-menu;
  	@include master-center;
  }
  
  /*
   * Hide 'mobile first' menu & search
   * boxes on tablets
   */
  #menu, #search {
    @include hide-element;
  }

  .nav-search-style {
    margin-top: 7px;
  }

  // <ul> container for the main nav  
  #site-navigation-list {
    @include site-navigation-list(block);
  }
  
  // for the <li> tag that contains the links
  .site-navigation-list-link {
    float:left;
  }

  // for the link in the above-mentioned <li> tag...can these two styles be combined at a later date?
  .wf-active .site-navigation-list-link a:link,
  .wf-active .site-navigation-list-link a:visited,
  .wf-active .site-navigation-list-link a:hover { 
    @include link-styles(29px, 13px, 5px, $header-color);
    -webkit-border-radius: $master-border-radius;
    -moz-border-radius: $master-border-radius;
    border-radius: $master-border-radius;
  }

  /*
   * =========================================================================
   * Navigation styles end
   * =========================================================================
   */

  // Search box-related styles start
  // the div that contains the search box
  #searchbox {
    display: block;
  }

  #s {
    font-size: 1em;
  }

  // Search box
  #tipue_search_input{
    font: 13px/1.5 'open sans', $srf;
    color: #333;
    padding: 7px;
    margin: 0;
    width: 199px;
    border: 1px solid #d3d3d3;
    -webkit-border-radius: $master-border-radius;
    -moz-border-radius: $master-border-radius;
    border-radius: $master-border-radius;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
  }
 
  #tipue_search_input:focus {
    border-color: #c3c3c3;
    box-shadow: 0 0 3px rgba(0,0,0,.2);     
  }

  #tipue_search_button {
    width: 60px;
    height: 33px;
    margin-top: 1px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    background: #f1f1f1 url('../img/search.gif') no-repeat center;
    outline: none;
  }

  #tipue_search_button:hover {
    border: 1px solid #c3c3c3;
    -moz-box-shadow: 1px 1px 2px #e3e3e3;
    -webkit-box-shadow: 1px 1px 2px #e3e3e3;
    box-shadow: 1px 1px 2px #e3e3e3;
  }

  // Search box-related styles end

  /* Font styles for tablets & desktops. Google
   * font doesn't load on mobile.
   */
  .share-post-link {
    font-size:16px;
    line-height: 1;
    @include fonts($helv);
  }

  /*
   * =================
   * Header styles end
   * =================
   */





 /*
 * ===========================================================================
 * Page content styles start
 * ===========================================================================
 */

  // Styles for post and category <h1> tags
  .wf-active h1.post-title, .wf-active h1.category-title  {
    @include post-category-title(40px);
  }
  
  // For the "main" id element
  .page-content {
    @include content-width($inner-content-width);
    font-size: 18px;
  }

  // Post snippet that displays on both the home page and search results.
  .post-snippet-title {
    font-size: 24px;
  }
  
  // breadcrumbs
  .breadcrumb-styles {
    @include breadcrumb-styles(16px);
    padding-top: 10px;
  }

 /*
  * ===========================================================================
  * Page content styles end
  * ===========================================================================
  */





 /*
  * ===========================================================================
  * Footer styles start
  * ===========================================================================
  */

  .footer-header {
    @include footer-header;
  }

  .contact-form-field {
    @include contact-form-field;
  }

 /*
  * ===========================================================================
  * Footer styles end
  * ===========================================================================
  */
}