@media only screen and (min-width: 569px) and (max-width:1024px) {

  /*
   * Handhelds and tablets get the helvetica-type
   * Google font. Too many fonts applied to handhelds
   * will slow down their page load.
   */
  body {
    @include fonts($helv);
  }

  // apply the Google font to all <header> tags  
  .wf-active h1,
  .wf-active h2,
  .wf-active h3,
  .wf-active h4,
  .wf-active h5,
  .wf-active h6 {
    @include fonts($robo);
    font-size: 1.1rem;
  }

  /*
   ===================
   Header styles start
   ===================
   */
  

  

  // <h2> tag...the 'closing tags...wrapping functions text'
  .site-description {
    display: block;
    position: static;
    font-size: 14px;
    margin: 0;
    width: 245px;
  }

  .site-header {
    max-width: 450px;
    float: left;
  }

  .header-pic-class {
    float: left;
    display: block;
  }

  // the outer wrapper for the <header>. Width is set to auto.
  .outerWrapperNavHeader {
    width: 100%;
    border-bottom: 3px solid $base-link-color;
    height: 140px;
  }

  // the inner wrapper for the <header>. Width is set to 900px.
  .innerWrapperNavHeader {
    padding: 21px;
  }
    
  // searchbox
  .searchbox-style {
    text-align: left;
    padding:40px 0 0 0;
  }
  
  // Logo link...provides a large enough space for a click area
  .homepage-link {
    width: 209px;
    height: 65px;
  }

  .header-element-margin {
    margin-left: 100px;  
  }

  /*
   =================
   Header styles end
   =================
   */
  
// <nav>
  .main-navigation {
    width: auto;
    border-top: none;
  }

  
  // <nav> list items
  .main-navigation-list {
  	@include show-menu;
  	@include master-center;
  }

  .nav-search-style {
    float: right;
  }
  
  /*
   * Hide 'mobile first' menu & search
   * boxes on tablets
   */
  #menu, #search {
    @include hide-element;
  }

  .site-navigation-list-link {
	  float:left;
  }
  
  #site-navigation-list {
    display: block;
    margin: 0;
    padding: 0;
  }

  .wf-active .site-navigation-list-link a:link,
  .wf-active .site-navigation-list-link a:visited,
  .wf-active .site-navigation-list-link a:hover { 
    @include link-styles(13px, 29px);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding:5px;
    background-color: #fff;
  }

  // Search box-related styles start
  // the div that contains the search box
  #searchbox {
    display: block;
  }

  #s {
    font-size: 1em;
  }

  // Search box
  #tipue_search_input{
    font: 13px/1.5 'open sans', $srf;
    color: #333;
    padding: 7px;
    margin: 0;
    width: 250px;
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
  }
 
  #tipue_search_input:focus {
    border-color: #c3c3c3;
    box-shadow: 0 0 3px rgba(0,0,0,.2);     
  }

  #tipue_search_button {
    width: 60px;
    height: 33px;
    margin-top: 1px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    background: #f1f1f1 url('../img/search.gif') no-repeat center;
    outline: none;
  }

  #tipue_search_button:hover {
    border: 1px solid #c3c3c3;
    -moz-box-shadow: 1px 1px 2px #e3e3e3;
    -webkit-box-shadow: 1px 1px 2px #e3e3e3;
    box-shadow: 1px 1px 2px #e3e3e3;
  }

  // Search box-related styles end

  /* Font styles for tablets & desktops. Google
   * font doesn't load on mobile.
   */
  .social-network-link {
    font-size:16px;
    line-height: 1;
    @include fonts($helv);
  }




  /*
   * =================
   * Header styles end
   * =================
   */





  /*
   * ====================
   * Content styles start
   * ====================
   */
  
  // For the main element
  .page-content {
    @include content-width($inner-content-width);
  }

  // Add "letterpress" effect to header links for home page post snippet.
  .post-snipper-header-link {
    @include makeTextShadow($background-color)
  }

  /*
   ==================
   Content styles end
   ==================
  */
}