_site
./_site

_deploy
./_deploy

# Site assets
#------------
assets/
old_img/
jekyllOutput.html
prototypeTest/
kaidezcom.WPExport.xml
email.php

# Backbone code drafts
#---------------------
backbone/


# Application cache manifest
#---------------------------
manifest.appcache




# General all-around files
# ------------------------
*.DS_Store
*Thumbs.db
*.zip
*.pot
*.svg
*.localized
*.psd
*.ai
*.eps

# bower downloads
# ---------------
bower_components/

# old require build script
# ------------------------
jsBuildOut/jsBuild.js

*.htaccess

*.log

sitemap.xml.gz
license.txt
robots.txt
readme.html

*.ftppass
grunt/cssSource/_oldIE.scss




# Sass-related files
# ------------------
*.sass-cache


# Grunt/Node-related files
# ------------------------
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
node_modules
pids
logs
results
npm-debug.log
tmp

#Capistrano stuff
=================

Capfile
config/deploy.rb

css/styles.css.map


# Wordpress Stuff
=================
kaidez-swiss