_site
./_site
tipuesearch/

# Site assets
#------------
assets/
old_img/
js/cacheTest.js





# Application cache manifest
#---------------------------
manifest.appcache




# General all-around files
# ------------------------
*.DS_Store
*Thumbs.db
*.zip
*.pot
*.svg
*.localized
*.psd
*.ai
*.eps


*.htaccess

*.log

sitemap.xml.gz
license.txt
robots.txt
readme.html

*.ftppass
grunt/cssSource/_oldIE.scss



# Sass-related files
# ------------------
*.sass-cache




# Grunt/Node-related files
# ------------------------
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
node_modules
pids
logs
results
npm-debug.log
tmp








