wordpress/index.php
wordpress/wp-config.php
wordpress/wp-admin/
wordpress/wp-content/plugins/
wordpress/wp-content/themes/twentythirteen/
wordpress/wp-content/themes/twentyfourteen/
wordpress/wp-content/themes/twentyfifteen/
wordpress/wp-includes/
wordpress/wp-activate.php
wordpress/xmlrpc.php

wordpress/wp-content/themes/kaidez-swiss/js/common.js
wordpress/wp-content/themes/kaidez-swiss/js/globals.js
wordpress/wp-content/themes/kaidez-swiss/js/home.js
wordpress/wp-content/themes/kaidez-swiss/js/posts.js
wordpress/wp-content/themes/kaidez-swiss/style.css

wordpress/html-workspace.html

wordpress/wp-blog-header.php
wordpress/wp-comments-post.php
wordpress/wp-config-sample.php
wordpress/wp-content/index.php
wordpress/wp-content/themes/index.php

wordpress/wp-content/uploads/

wordpress/wp-cron.php
wordpress/wp-links-opml.php
wordpress/wp-load.php
wordpress/wp-login.php
wordpress/wp-mail.php
wordpress/wp-settings.php
wordpress/wp-signup.php
wordpress/wp-trackback.php
wordpress/image-min/.gitkeep


_site
./_site

_deploy
./_deploy

# Site assets
#------------
assets/
old_img/
jekyllOutput.html
prototypeTest/
kaidezcom.WPExport.xml
email.php

# Backbone code drafts
#---------------------
backbone/


# Application cache manifest
#---------------------------
manifest.appcache




# General all-around files
# ------------------------
*.DS_Store
*Thumbs.db
*.zip
*.pot
*.svg
*.localized
*.psd
*.ai
*.eps

# bower downloads
# ---------------
bower_components/

# old require build script
# ------------------------
jsBuildOut/jsBuild.js

*.htaccess

*.log

sitemap.xml.gz
license.txt
robots.txt
readme.html

*.ftppass
grunt/cssSource/_oldIE.scss




# Sass-related files
# ------------------
*.sass-cache


# Grunt/Node-related files
# ------------------------
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
node_modules
pids
logs
results
npm-debug.log
tmp

#Capistrano stuff


Capfile
config/deploy.rb

css/styles.css.map

.jekyll-metadata
# Wordpress Stuff
