---
layout: homePage
title: kaidez / Tutorials &amp; Articles about  Web Development
meta-excerpt: Web Development Tutorials for Beginners, Product Reviews, Rants and More from kaidez
---

<!-- start ENTIRE LOOP -->
{% for post in site.posts reversed limit:1 %}
  
<div id="topSectionWrapper" class="topSectionWrapperClass">
  <article id="newestArticle" class="newestArticleClass" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
  
  <h1 id="newestArticleHeader" class="newestArticleHeaderClass" itemprop="headline">
    <span class="newestArticleHeaderText"><i class="fa fa-cog"></i> NEWEST ARTICLE <i class="fa fa-cog"></i> </span>
  </h1>

    <div class="newestArticlePostContainer">

      <h2 class="newestArticlePostTitle" itemprop="headline">
        <a href="{{ post.url }}" class="postSnippetLinkHeader" title="Read {{ post.title }}">{{ post.title }}</a>
      </h2>
      <div class="newestArticleImage">

      {% if post.has-home-img %}

      <a href="{{ post.url }}">
        <img src="/img/{{ post.has-home-img }}" class="imgBorder" alt="Image related to {{ post.title }}" title="Read {{ post.title }}" />
      </a>

      {% else %}

      <a href="{{ post.url }}">
        <img src="/img/homePageDefault.jpg" class="imgBorder" alt="Image related to {{ post.title }}" title="Read {{ post.title }}"  />
      </a>

      {% endif %}

    </div> <!-- .newestArticleImage -->

      <p class="postSnippetNewArticle">
        {{ post.meta-excerpt }} <a href="{{ post.url }}" class="read-more-link" title="Read {{ post.title }}">Read More &raquo;</a>
      </p>
    </div>
  
  </article> <!-- #newestArticle -->

  <div id="ads" class="adsClass">
    <div id="adSpotOne" class="singleAdLeft"></div>
    <div id="adSpotTwo" class="singleAdRight">
      <img style="border:0" src="https://affiliate.mediatemple.net/scripts/imp.php?a_aid=5068b81963acf&amp;a_bid=671c19a8" width="1" height="1" alt="" />
    </div>
  </div> <!-- #ads -->

</div> <!-- #topSectionWrapper -->
  
<!--
Use a Liquid case statement check to see what the category is of
the NEWEST ARTICLE above.
-->
{% case post.category %} 

<!--
if NEWEST ARTICLE is in the 'tutorials' category, create a variable
called 'isCategory' and set it equal to 1.
-->
{% when 'tutorials' %}
{% assign isCategory = 1 %}

<!--
if NEWEST ARTICLE is in the 'coding-best-practices' category, create a variable
called 'isCategory' and set it equal to 2.
-->
{% when 'coding-best-practices' %}
{% assign isCategory = 2 %}

<!--
if NEWEST ARTICLE is in the 'reviews' category, create a variable
called 'isCategory' and set it equal to 3.
-->
{% when 'reviews' %}
{% assign isCategory = 3 %}

<!--
otherwise, NEWEST ARTICLE is in the 'reviews' category, so create
a variable called 'isCategory' and set it equal to 4.
-->
{% else %}
{% assign isCategory = 4 %}

{% endcase %}
<!-- Stop the Liquid case statement-->

<!--
##################
 TUTORIAL SECTION
##################
-->
<section id="homepageTutorials" class="homepageTutorialsClass sharedCategoryStyling">

  <h1 class="homePageSectionHeaderClass">

    <a href="/tutorials/" class="categorySectionLink" title="Read all tutorials posts">
      <span class="homePageSectionHeaderText"><i class="fa fa-cogs"></i> TUTORIALS</span>
    </a>

  </h1>

  {% if isCategory == 1 %}

  {% for post in site.categories.tutorials limit:3 offset:1 %}
  <article class="post-snippet" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

    <h1 class="post-snippet-title" itemprop="headline"><a href="{{ post.url }}" title="Read {{ post.title }}" class="post-snippet-link">{{ post.title }}</a></h1>

    {{ post.meta-excerpt }} <a href="{{ post.url }}" class="read-more-link" title="Read {{ post.title }}">Read More &raquo;</a>

  </article>
  {% endfor %}

  {% else %}

  {% for post in site.categories.tutorials limit:3 %}
  <article class="post-snippet" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

    <h1 class="post-snippet-title" itemprop="headline"><a href="{{ post.url }}" class="post-snippet-link" title="Read {{ post.title }}">{{ post.title }}</a></h1>

      {{ post.meta-excerpt }} <a href="{{ post.url }}" class="read-more-link" title="Read {{ post.title }}">Read More &raquo;</a>

  </article>

  {% endfor %}

  {% endif %}

    <div class="homePageCategoryFooterLinkSection">
      <a href="/tutorials/" class="homePageCategoryFooterLink" title="Read all tutorials posts">view all "tutorials" posts &raquo;</i></a>

      <a href="/pages/" class="homePageCategoryFooterLink" title="Read all posts on kaidez.com">view all posts &raquo;</i></a>
    </div>

  </section> <!-- #homepageTutorials -->

<!--
###################
 CODE TIPS SECTION
###################
-->
<section id="homepageCodingTips" class="homepageCodingTipsClass sharedCategoryStyling">

  <h1 class="homePageSectionHeaderClass">

    <a href="/coding-best-practices/" class="categorySectionLink" title="Read all code tips posts">
      <span class="homePageSectionHeaderText"><i class="fa fa-cogs"></i> CODE TIPS</span>
    </a>

  </h1>
  
  {% if isCategory == 2 %}

    {% for post in site.categories.coding-best-practices limit:3 offset:1 %}
    <article class="post-snippet" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

      <h1 class="post-snippet-title" itemprop="headline"><a href="{{ post.url }}" class="post-snippet-link" title="Read {{ post.title }}">{{ post.title }}</a></h1>

        <p class="post-snippet-text">
          {{ post.meta-excerpt }} <a href="{{ post.url }}" class="read-more-link" title="Read {{ post.title }}">Read More &raquo;</a>
        </p>

    </article>

    {% endfor %}

    {% else %}

    {% for post in site.categories.coding-best-practices limit:3 %}
    <article class="post-snippet" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

      <h1 class="post-snippet-title" itemprop="headline"><a href="{{ post.url }}" class="post-snippet-link" title="Read {{ post.title }}">{{ post.title }}</a></h1>

        <p class="post-snippet-text">
          {{ post.meta-excerpt }} <a href="{{ post.url }}" class="read-more-link" title="Read {{ post.title }}">Read More &raquo;</a>
        </p>

    </article>

    {% endfor %}

    {% endif %}

    <div class="homePageCategoryFooterLinkSection">
      <a href="/coding-best-practices/" class="homePageCategoryFooterLink" title="read all code tips posts">view all "code tips" posts &raquo;</i></a>

      <a href="/pages/" class="homePageCategoryFooterLink" title="Read all posts on kaidez.com">view all posts &raquo;</i></a>
    </div>

  </section> <!-- #homepageCodingTips -->

<!--
################
 REVIEW SECTION
################
-->

  <section id="homepageReviews" class="homepageReviewsClass sharedCategoryStyling">

    <h1 class="homePageSectionHeaderClass">
      <a href="/reviews/" class="categorySectionLink" title="read all reviews posts">
        <span class="homePageSectionHeaderText"><i class="fa fa-cogs"></i> REVIEWS</span>
      </a>
    </h1>
    
      {% if isCategory == 3 %}

      {% for post in site.categories.reviews limit:3 offset:1 %}
      <article class="post-snippet" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
        
        <h1 class="post-snippet-title"><a href="{{ post.url }}" class="post-snippet-link" itemprop="headline">{{ post.title }}</a></h1>
        <p class="post-snippet-text">
          {{ post.meta-excerpt }} <a href="{{ post.url }}" class="read-more-link" title="{{ post.title }}">Read More &raquo;</a>
        </p>
      </article>
      {% endfor %}

      {% else %}

      {% for post in site.categories.reviews limit:3 %}
      <article class="post-snippet" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

      <h1 class="post-snippet-title" itemprop="headline"><a href="{{ post.url }}" class="post-snippet-link">{{ post.title }}</a></h1>
      <p class="post-snippet-text">
        {{ post.meta-excerpt }} <a href="{{ post.url }}" class="read-more-link" title="{{ post.title }}">Read More &raquo;</a>
      </p>
      </article>

      {% endfor %}

      {% endif %}

      <div class="homePageCategoryFooterLinkSection">
        <a href="/reviews/" class="homePageCategoryFooterLink" title="read all reviews posts">view all "reviews" posts &raquo;</i></a>

        <a href="/pages/" class="homePageCategoryFooterLink" title="Read all posts on kaidez.com" title="Read all posts on kaidez.com">view all posts &raquo;</i></a>
    </div>

  </section> <!-- #homepageReviews -->

<!--
##################
 PERSONAL SECTION
##################
-->
  <section id="homepagePersonal" class="homepagePersonalClass sharedCategoryStyling">

    <h1 class="homePageSectionHeaderClass">
      <a href="/personal/" class="categorySectionLink" title="read all personal posts">
        <span class="homePageSectionHeaderText"><i class="fa fa-cogs"></i> PERSONAL</span>
      </a>
    </h1>
    
      {% if isCategory == 4 %}

      {% for post in site.categories.personal limit:3 offset:1 %}
      <article class="post-snippet" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

      <h1 class="post-snippet-title" itemprop="headline"><a href="{{ post.url }}" class="post-snippet-link" title="Read {{ post.title }}">{{ post.title }}</a></h1>
      <p class="post-snippet-text">
        {{ post.meta-excerpt }} <a href="{{ post.url }}" class="read-more-link" title="Read {{ post.title }}">Read More &raquo;</a>
      </p>
      </article>
      {% endfor %}

      {% else %}

      {% for post in site.categories.personal limit:3 %}
      <article class="post-snippet" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">

      <h1 class="post-snippet-title" itemprop="headline"><a href="{{ post.url }}" class="post-snippet-link" title="Read {{ post.title }}">{{ post.title }}</a></h1>
      <p class="post-snippet-text">
        {{ post.meta-excerpt }} <a href="{{ post.url }}" class="read-more-link" title="Read {{ post.title }}">Read More &raquo;</a>
      </p>
      </article>
      {% endfor %}

      {% endif %}

      <div class="homePageCategoryFooterLinkSection">
        <a href="/personal/" class="homePageCategoryFooterLink" title="view all personal posts">view all "personal" posts &raquo;</i></a>

        <a href="/pages/" class="homePageCategoryFooterLink" title="Read all posts on kaidez.com">view all posts &raquo;</i></a>
    </div>

  </section> <!-- #homepagePersonal -->


{% endfor %} <!-- end ENTIRE LOOP -->