---
layout: default
title: Web development tutorials for beginners, product reviews, rants and more from kaidez
---
  
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <article class="post-snippet">
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      {{ post.meta-excerpt }} <a href="{{ post.url }}">Read post &raquo;</a> 
    </article>
  {% endfor %}

  <!-- Pagination links -->
  <div id="post-pagination" class="pagination">
    {% if paginator.previous_page %}
      <p class="previous">
       {% if paginator.previous_page == 1 %}
          <a href="/">Previous</a>
       {% else %}
          <a href="{{ paginator.previous_page_path }}">Previous</a>
        {% endif %}
     </p>
    {% else %}
    <p class="previous disabled">
      <span>Previous</span>
    </p>
    {% endif %}
    <ul class="pages">
      <li class="page">
        {% if paginator.page == 1 %}
          <span class="current-page">1</span>
        {% else %}
          <a href="/" class="pagination-link">1</a>
        {% endif %}
      </li>

      {% for count in (2..paginator.total_pages) %}
        <li class="page">
          {% if count == paginator.page %}
            <span class="current-page">{{ count }}</span>
          {% else %}
            <a href="/page{{ count }}" class="pagination-link">{{ count }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul> <!-- .pages -->

    {% if paginator.next_page %}
      <p class="next">
        <a href="{{ paginator.next_page_path }}">Next &raquo;</a>
      </p>
    {% else %}
      <p class="next disabled">
        <span>Next</span>
      </p>
    {% endif %}
  </div>  <!-- #post-pagination -->
