---
layout: default
title: kaidez.com / Tutorials &amp; articles about  Web Development
meta-excerpt: Web development tutorials for beginners, product reviews, rants and more from kaidez
---

{% for post in site.posts reversed limit:1 %} <!-- start ENTIRE LOOP -->

<div>

  <article id="newestArticle" class="newestArticleClass">

    <h1 id="newestArticleHeader" class="newestArticleHeaderClass">NEWEST ARTICLE</h1>

    <h2>{{ post.title }}</h2>

    {% if post.has-home-img %}

      <img src="/img/{{ post.has-home-img  }}" alt="{{ post.title }}" />

    {% else %}

      <img src="/img/profilepic.jpg" />

    {% endif %}

    {{ post.meta-excerpt }}

  </article> <!-- #newestArticle -->

</div>

<!--
Use a Liquid case statemenbt check to see what the category is of
the NEWEST ARTICLE above.
-->
{% case post.category %} 

<!--
if NEWEST ARTICLE is in the 'tutorials' category, create a variable
called 'isCategory' and set it equal to 1.
-->
{% when 'tutorials' %}
  {% assign isCategory = 1 %}

<!--
if NEWEST ARTICLE is in the 'coding-best-practices' category, create a variable
called 'isCategory' and set it equal to 2.
-->
{% when 'coding-best-practices' %}
  {% assign isCategory = 2 %}

<!--
if NEWEST ARTICLE is in the 'reviews' category, create a variable
called 'isCategory' and set it equal to 3.
-->
{% when 'reviews' %}
  {% assign isCategory = 3 %}

<!--
otherwise, NEWEST ARTICLE is in the 'reviews' category, so create
a variable called 'isCategory' and set it equal to 4.
-->
{% else %}
  {% assign isCategory = 4 %}

{% endcase %}
<!-- Stop the Liquid case statement-->

<section id="homepageTutorials">

  <h1>TUTORIALS</h1>

  <article>
  {% if isCategory == 1 %}

    {% for post in site.categories.tutorials limit:3 offset:1 %}
    <h1>{{ post.title }}</h1> 
    {% endfor %}

  {% else %}

    {% for post in site.categories.tutorials limit:3 %}
    <h1>{{ post.title }}</h1> 
    {% endfor %}

  {% endif %}
  </article>

</section> <!-- #homepageTutorials -->

<section id="homepageCodingTips">

  <h1>CODE TIPS</h1>

  <article>
  {% if isCategory == 2 %}

    {% for post in site.categories.coding-best-practices limit:3 offset:1 %}
    <h1>{{ post.title }}</h1> 
    {% endfor %}

  {% else %}

    {% for post in site.categories.coding-best-practices limit:3 %}
    <h1>{{ post.title }}</h1> 
    {% endfor %}

  {% endif %}
  </article>

</section> <!-- #homepageCodingTips -->

<section id="homepageReviews">

  <h1>REVIEWS</h1>

  <article>
  {% if isCategory == 3 %}

    {% for post in site.categories.reviews limit:3 offset:1 %}
    <h1>{{ post.title }}</h1> 
    {% endfor %}

  {% else %}

    {% for post in site.categories.reviews limit:3 %}
    <h1>{{ post.title }}</h1> 
    {% endfor %}

  {% endif %}
  </article>

</section> <!-- #homepageReviews -->

<section id="homepagePersonal">

  <h1>PERSONAL</h1>

  <article>
  {% if isCategory == 4 %}

    {% for post in site.categories.personal limit:3 offset:1 %}
    <h1>{{ post.title }}</h1> 
    {% endfor %}

  {% else %}

    {% for post in site.categories.personal limit:3 %}
    <h1>{{ post.title }}</h1> 
    {% endfor %}

  {% endif %}
  </article>

</section> <!-- #homepagePersonal -->


{% endfor %} <!-- end ENTIRE LOOP -->