---
layout: default
title: Site Map &laquo; kaidez.com
meta-excerpt: A complete list of content on kaidez.com
---
  <div class="pageCopy sitemap-container-class">
    <h2><a href="/" title="kaidez.com home page" class="sitemap-header-link">Home Page &raquo;</a></h2>
    
      <div id="tutorial-site-map-links" class="site-map-section">

        <h2><a href="/tutorials/" title="Tutorials on kaidez.com" class="sitemap-header-link">Tutorials &raquo;</a></h2>

          <ul class="ulNoPad">

          {% for post in site.categories.tutorials %}

            <li class="site-map-list-item">
              <a href="{{ post.url }}" title="{{ post.title }}" title="{{ post.title }}" rel="bookmark" class="site-map-link">{{ post.title }}</a>
            </li>

          {% endfor %}

          </ul>

      </div> <!-- #tutorial-site-map-links -->

      <div id="code-tips-site-map-links" class="site-map-section">

        <h2><a href="/coding-best-practices/" title="Coding Tips and Coding Best Practices posts on kaidez.com" class="sitemap-header-link">Code Tips &raquo;</a></h2>

        <ul class="ulNoPad">

       {% for post in site.categories.coding-best-practices %}

        <li class="site-map-list-item">
          <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark" class="site-map-link">{{ post.title }}</a>
        </li>

      {% endfor %}

      </ul>
    
    </div> <!-- #code-tips-site-map-links -->

    <div id="reviews-site-map-links" class="site-map-section">

    <h2><a href="/reviews/" title="Product and Book Reviews on kaidez.com" class="sitemap-header-link">Reviews &raquo;</a></h2>

    <ul class="ulNoPad">

    {% for post in site.categories.reviews %}

      <li class="site-map-list-item">
        <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark" class="site-map-link">{{ post.title }}</a>
      </li>

    {% endfor %}

    </ul>
    
  </div> <!-- #reviews-site-map-links -->




  <div id="personal-site-map-links" class="site-map-section">

    <h2><a href="/personal/" title="Personal and Random posts on kaidez.com" class="sitemap-header-link">Personal &raquo;</a></h2>

    <ul class="ulNoPad">

    {% for post in site.categories.personal %}

      <li class="site-map-list-item">
        <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark" class="site-map-link">{{ post.title }}</a>
      </li>

    {% endfor %}

    </ul class="ulNoPad">

  </div> <!-- #personal-site-map-links -->

  <h2><a href="affiliate-disclaimer.html" title="kaidez.com affiliate disclaimer" class="sitemap-header-link">Affiliate Disclaimer &raquo;</a></h2>
  <h2><a href="colophon.html" title="kaidez.com colophon" class="sitemap-header-link">Colophon &raquo;</a></h2>
  </div>