---
layout: default
title: Site Map / kaidez.com / Tutorials &amp; articles about  Web Development
meta-excerpt: A complete list of content on kaidez.com
---
  <h2><a href="/">Home Page &raquo;</a></h2>
  
  <div id="tutorial-site-map-links" class="site-map-section">

    <h2>Tutorials &raquo;</h2>

    <ul>

    {% for post in site.categories.tutorials %}

      <li class="site-map-list-item">
        <a href="{{ post.url }}" rel="bookmark" class="site-map-link">{{ post.title }} &raquo;</a>
      </li>

    {% endfor %}

    </ul>

  </div> <!-- #tutorial-site-map-links -->




  <div id="code-tips-site-map-links" class="site-map-section">

    <h2>Code Tips &raquo;</h2>

    <ul>

    {% for post in site.categories.coding-best-practices %}

      <li class="site-map-list-item">
        <a href="{{ post.url }}" rel="bookmark" class="site-map-link">{{ post.title }} &raquo;</a>
      </li>

    {% endfor %}

    </ul>
    
  </div> <!-- #code-tips-site-map-links -->




  <div id="reviews-site-map-links" class="site-map-section">

    <h2>Reviews &raquo;</h2>

    <ul>

    {% for post in site.categories.reviews %}

      <li class="site-map-list-item">
        <a href="{{ post.url }}" rel="bookmark" class="site-map-link">{{ post.title }} &raquo;</a>
      </li>

    {% endfor %}

    </ul>
    
  </div> <!-- #reviews-site-map-links -->




  <div id="personal-site-map-links" class="site-map-section">

    <h2>Personal &raquo;</h2>

    <ul>

    {% for post in site.categories.personal %}

      <li class="site-map-list-item">
        <a href="{{ post.url }}" rel="bookmark" class="site-map-link">{{ post.title }} &raquo;</a>
      </li>

    {% endfor %}

    </ul>
    
    <h2><a href="affiliate-disclaimer.html">Affiliate Disclaimer &raquo;</a></h2>

  </div> <!-- #personal-site-map-links -->