---
layout: default
title: Site Map / kaidez.com / Tutorials &amp; articles about  Web Development
meta-excerpt: A complete list of content on kaidez.com
---
  <h2><a href="/" class="sitemap-header-link">Home Page &raquo;</a></h2>
  
  <div id="tutorial-site-map-links" class="site-map-section">

    <h2><a href="/tutorials/" class="sitemap-header-link">Tutorials &raquo;</a></h2>

    <ul class="ulNoPad">

    {% for post in site.categories.tutorials %}

      <li class="site-map-list-item">
        <a href="{{ post.url }}" rel="bookmark" class="site-map-link">{{ post.title }} &raquo;</a>
      </li>

    {% endfor %}

    </ul>

  </div> <!-- #tutorial-site-map-links -->




  <div id="code-tips-site-map-links" class="site-map-section">

    <h2><a href="/coding-best-practices/" class="sitemap-header-link">Code Tips &raquo;</a></h2>

    <ul class="ulNoPad">

    {% for post in site.categories.coding-best-practices %}

      <li class="site-map-list-item">
        <a href="{{ post.url }}" rel="bookmark" class="site-map-link">{{ post.title }} &raquo;</a>
      </li>

    {% endfor %}

    </ul>
    
  </div> <!-- #code-tips-site-map-links -->




  <div id="reviews-site-map-links" class="site-map-section">

    <h2><a href="/reviews/" class="sitemap-header-link">Reviews &raquo;</a></h2>

    <ul class="ulNoPad">

    {% for post in site.categories.reviews %}

      <li class="site-map-list-item">
        <a href="{{ post.url }}" rel="bookmark" class="site-map-link">{{ post.title }} &raquo;</a>
      </li>

    {% endfor %}

    </ul>
    
  </div> <!-- #reviews-site-map-links -->




  <div id="personal-site-map-links" class="site-map-section">

    <h2><a href="/personal/" class="sitemap-header-link">Personal &raquo;</a></h2>

    <ul class="ulNoPad">

    {% for post in site.categories.personal %}

      <li class="site-map-list-item">
        <a href="{{ post.url }}" rel="bookmark" class="site-map-link">{{ post.title }} &raquo;</a>
      </li>

    {% endfor %}

    </ul class="ulNoPad">

  </div> <!-- #personal-site-map-links -->

  <h2><a href="affiliate-disclaimer.html" class="sitemap-header-link">Affiliate Disclaimer &raquo;</a></h2>