@import "config/sass/_variables";
@import "config/sass/_mixins";
@import "config/sass/_aside";



/* Style link text for homepage snippets */
a.post-link {
  text-decoration: none;
  font-size: 8px;
  font-size: 0.8em;

  &:hover {
    color: darken($pink, 10%);
    text-decoration: underline; 
  }

}

.all-article-header {
  @include hide-element;
}

/* Style link text for homepage snippets */
a.category-name {
  text-decoration: none;
  color: $mainLinkColor;

  &:hover {
    text-decoration: underline; 
  }

}



@media (max-width: 767px) {

  /* Style all post snippets on mobile view */
  .homepage-post-snippet,
  .first-homepage-post-snippet {
    min-width: 300px;
    max-width: 760px;
    min-height: 374px;
    padding: 15px;
    margin: 0 0 70px;
    display: inline-block;
    vertical-align: top;

    background-color: lighten($pink, 35%);
    text-transform: lowercase;
  }

  /* Hide the category name on mobile views*/
  .category-name {
    @include hide-element;
  }

}





@media (min-width: 768px) {

  /* Set width for container with the newest article */
  .col-md-8{
    width:700px;
  } 

  .homepage-post-snippet {
    max-width: 270px;
    min-height: 430px;
    display: inline-block;
    vertical-align: top;

    background-color: lighten($pink, 35%);
  }

  .first-homepage-post-snippet {
    max-width: 700px;

    background-color: lighten($pink, 30%);
  }

  .homepage-post-snippet,
  .first-homepage-post-snippet {
    margin: 0 10px 20px;
    padding: 11px;

    text-transform: lowercase;
  }

  /* Add a black border to all pics on the home page */
  .post-pic-border {
    border: 1px solid #000;
  }

  /* Style category name that appears at top of homepage ad snippets */
  .category-name {
    margin-bottom: 5px;

    font-size: 14px;
    font-size: 1.4rem;

    @include show-element;
    @include bold;
  }

  /* Style the container with ads */
  .ad-container {
    width: 500px;
  }

  /* Style a single homepage ad */
  .single-homepage-ad {
    width: 200px;
    margin: 0 5px 5px;
    display: inline-block;
  }

}




@media (min-width: 992px) and (max-width: 1199px) {

  /* position homepage ads on tablet/desktop view */
  .front-page-ad-column {
    display: table;
    margin: 0 auto;
    float: none;
  }

} 











@media (min-width: 768px) and (max-width: 991px) {

  /* position homepage ads on tablet/desktop view */
  .col-md-4 {
    display: table;
    margin: 0 auto;
  }

}