/* Single post styling ONLY!! Compiled as a dependency via webpack */

/*
 * START MIXINS
 */
/* Remove extra left margin that appears on <ul> tags */
.ul-reset {
  padding-left: 0;
}

/*
 * STOP MIXINS
 */


.entry-title-margin {
  margin-top: 20px;
}
/* Style <li> tags that appear in single posts */
.post-list-item {
  line-height: 24px;
  margin-bottom: 20px;
}

.sharing-list {
  text-align: center; 

  .ul-reset();
}
/* List items for Facebook & Google+ links for post pages */
.share-post-list-item {
  display: inline-block;

  list-style-type: none;
}

.other-sharing-element {
  margin-top:10px;

  text-align: center;
}

/*  Facebook & Google+ sharing link classes for post pages */
.share-post-link {
  padding-left: 10px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  font-family: sans-serif;
}

.post-pic {
  max-width: 100%;
  margin: 0 auto;
}