/* Single post styling ONLY!! Compiled as a dependency via webpack */

/* Style <li> tags that appear in single posts */
.post-list-item {
  line-height: 24px;
  margin-bottom: 20px;
}

.share-post-link {
  font-size: 16px;
  line-height: 1;
  font-family: sans-serif;
}