/* Single post styling ONLY!! Compiled as a dependency via webpack */

/* Import the site's variables.less & mixins.less files */
@import "../css-build/imports/variables";
@import "../css-build/imports/mixins";
/*
 * START MIXINS
 */

/* Add space between the breadcrumbs and the content */
.entry-title-margin {
  margin-top: 20px;
}

/* Style <li> tags that appear in single posts */
.post-list-item {
  line-height: 24px;
  margin-bottom: 20px;
}

/* List items for Facebook & Google+ links for post pages */
.share-post-list-item {
  display: inline-block;

  list-style-type: none;
}

.other-sharing-element {
  margin-top:30px;

  text-align: center;
}

.other-ways-text {
  display:block;
  margin-bottom:10px;
}

/*  Facebook & Google+ sharing link classes for post pages */
.share-post-link {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  font-family: sans-serif;
}

/* Make the single post pics responsive */
.post-pic {
  max-width: 100%;
  margin: 0 auto;
}

/* Style the "view the demo" link */
.demo-link {
  padding: 10px;

  color: #fff;
  background-color: darken(@pink, 45%);
 
  .br();
}

/* Style the "view the demo" link regular a state */
a.demo-link {
  text-decoration: none;
}

.facebook, .googleplus {
  padding: 10px;

  color: #737373;

  .br();
}

.facebook {
  background-color: #3b5998;
}

.googleplus {
  background-color: #dd4b39;
}

a.facebook, a.googleplus {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

hr {
  border-color: #000;
}