    <aside id="aside-outer-wrapper" class="aside-outer-wrapper-class clearfix">
      <h3 id="menu-heading" class="menu-toggle">Other site information</h3>
      <div id="aside-inner-wrapper" class="aside-inner-wrapper-class">

        <div id="aside-column-one" class="aside-column-class clearfix">

          <section id="aside-about-section" class="aside-about-section-class all-aside-sections">

            <h3 class="aside-section-header">ABOUT ME</h3>

            <img src="/img/profilepic.jpg" height="100" width="100" id="author-image" class="author-image-class" alt="picture of Kai'kaidez' Gittens">

            <p class="aside-paragraph">
              I'm a web developer for Revlon. I like to "over-communicate" in my tutorials so beginners can better understand the topics being discussed.
            </p>

          </section> <!-- #-aside-about-section -->

          <section id="aside-ad-section" class="aside-ad-section-class all-aside-sections">

            <h3 class="aside-section-header ad-title-margin">ADVERTISMENT</h3>

          </section> <!-- #aside-ad-section -->

        </div> <!-- #aside-column-one -->

        <div id="aside-column-two" class="aside-column-class mid-aside-margin clearfix">

          <section id="aside-nav-section" class="aside-nav-section-class all-aside-sections">

            <h3 class="aside-section-header">SITE LINKS</h3>

            <ul id="aside-navigation" class="aside-nav-class">

              <li class="aside-nav-list-item"><a href="/" title="kaidez.com home page" class="aside-nav-link">HOME</a></li>

              <li class="aside-nav-list-item"><a href="/tutorials/" title="Tutorials on kaidez.com" class="aside-nav-link">TUTORIALS</a></li>

              <li class="aside-nav-list-item"><a href="/coding-best-practices/" title="Coding Tips and Coding Best Practices posts on kaidez.com" class="aside-nav-link">CODE TIPS</a></li>

              <li class="aside-nav-list-item"><a href="/reviews/" title="Product and Book Reviews on kaidez.com" class="aside-nav-link">REVIEWS</a></li>

              <li class="aside-nav-list-item"><a href="/personal/" title="Personal and Random posts on kaidez.com" class="aside-nav-link">PERSONAL</a></li>

            </ul> <!-- #aside-navigation -->

          </section> <!-- #aside-nav-section -->

          <section id="aside-social-network-section" class="aside-social-network-section-class all-aside-sections">

            <h3 class="aside-section-header">CONNECT WITH ME</h3>

            <ul id="kaidez-social-network-list" class="kaidez-social-network-list-styles">
              
              <!-- twitter link -->
              <li class="kaidez-social-sharing-list-item clearfix">
                <a href="http://twitter.com/kaidez" title="Visit kaidez on Twitter" id="twitterLink" class="kaidez-social-sharing-list-item-link">
                  <i class="icon-twitter icon-3x"></i>
                  <span class="kaidez-social-sharing-list-item-link-text">twitter</span>
                </a>
                <div id="twitterText"class="pushUp"> / @kaidez</div>
              </li>

              <!-- google+ link -->
              <li class="kaidez-social-sharing-list-item clearfix">
                <a href="https://plus.google.com/115509037875239263451/posts" title="Visit kaidez on Google Plus" class="kaidez-social-sharing-list-item-link">
                  <i class="icon-google-plus icon-3x"></i><span class="kaidez-social-sharing-list-item-link-text">google +</span>
                </a>
              </li>

              <!-- github link -->
              <li class="kaidez-social-sharing-list-item clearfix">
                <a href="http://github.com/kaidez/" title="Visit kaidez on GitHub" class="kaidez-social-sharing-list-item-link">
                  <i class="icon-github-alt icon-3x"></i><span class="kaidez-social-sharing-list-item-link-text">github</span>
                </a>
              </li>

              <!-- youtube link -->
              <li class="kaidez-social-sharing-list-item clearfix">
                <a href="http://www.youtube.com/user/kaidezblog/videos" title="Visit kaidez on YouTube" class="kaidez-social-sharing-list-item-link">
                  <i class="icon-youtube icon-3x"></i><span class="kaidez-social-sharing-list-item-link-text">youtube</span>
                </a>
              </li>

            </ul> <!-- #social-network-list -->

          </section> <!-- #aside-social-network-section -->

        </div> <!-- #aside-column-two -->

        <div id="aside-column-three" class="aside-column-class clearfix">

          <section id="aside-contact-form-section" class="all-aside-sections aside-form-height">

            <h3 class="aside-section-header">CONTACT</h3>
            
            <p id="successMsg" class="successMsgClass">Your message has been sent successfully.</p>

            <form id="contact" name="contactForm" method="post">

              <span id="allFieldRequiredText"><i>*all fields are required</i></span>

              <fieldset id="aside-contact-fieldset" class="aside-contact-fieldset-styles">

                <p class="aside-contact-fields inputFieldHeight">
                  <label for="formNameField">YOUR NAME</label>
                  <input name="name" type="text" id="formNameField" class="contact-form-field" aria-required="true" required>
                  <span id="nameError" class="error"></span> 
                </p>

                <p class="aside-contact-fields inputFieldHeight">
                  <label for="formEmailField">YOUR EMAIL</label>
                  <input name="email" type="email" id="formEmailField" class="contact-form-field" aria-required="true" required>
                  <span id="emailError" class="error"></span>  
                </p>

                <p class="aside-contact-fields textareaHeight">
                  <label for="messageField">YOUR MESSAGE</label>
                  <textarea tabindex="-8" rows="10" name="text" id="formMessageField" class="contact-form-field" aria-required="true" required></textarea>
                  <span id="textError" class="error"></span> 
                </p>
                <p class="clearfix">
                  <button class="ladda-button" data-style="expand-right"><span class="ladda-label">Submit</span></button>
                </p>

              </fieldset> <!-- #aside-contact-fieldset -->

            </form> <!-- #contact -->

            <div id="todo">
  </div>
  <script type="text/template" id="item-template">
    <div>
      <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
      <%= title %>
    </div>
  </script>





          </section> <!-- #aside-contact-form-section -->

        </div> <!-- #aside-column-three -->

      </div> <!-- #aside-nav-wrapper-inner -->

    </aside> <!-- #aside -->
