    <footer id="footer" class="outerWrapperNavFooter clearfix" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
      <div id="footer-nav-wrapper-inner" class="innerWrapperNavFooter">
        <section id="about" class="footer-sections">
          <h3 class="footer-header">ABOUT ME</h3>
          <img src="/img/profilepic.jpg" id="author-image" alt="The Author">
          <p class="footer-paragraph">I'm a web developer for Revlon. I like to "over-communicate" in my tutorials so beginners can better understand the topics being discussed.
          </p>
        </section> <!-- #about -->

        <section id="social-networking" class="footer-sections midFooterSection">
          <h3 class="footer-header">CONNECT WITH ME</h3>
          <ul id="social-network-list">
            <li id="twitter" class="kaidez-social-network-list-item">
              <a href="http://twitter.com/kaidez" class="kaidez-share-post-link">kaidez on Twitter</a>
            </li>
            <li id="google-plus" class="kaidez-social-network-list-item">
              <a href="https://plus.google.com/115509037875239263451/posts" class="kaidez-share-post-link">kaidez on Google Plus</a>
            </li>
            <li id="github" class="kaidez-social-network-list-item">
              <a href="http://github.com/kaidez/" class="kaidez-share-post-link">kaidez on Gitub</a></li>
              <li id="youtube"><a href="http://www.youtube.com/user/kaidezblog/videos" class="kaidez-share-post-link">kaidez on YouTube</a></li>
            </ul>
          </section> <!-- #social-networking -->

          <section id="contact-form" class="footer-sections">
            <h3 class="footer-header">CONTACT</h3>
            <p id="success-msg" style="display:none">Your message has been sent successfully.</p>
            <form id="contact" method="post">
              <fieldset id="footer-contact-fieldset">
                <p class="footer-contact-fields">
                  <input name="form-name" id="form-name" type="text" class="contact-form-field" placeholder="Name" required> 
                </p>
                <p class="footer-contact-fields">
                  <input name="form-email" id="form-email" type="email" class="contact-form-field" placeholder="Email" required>  
                </p>
                <p class="footer-contact-fields">
                  <textarea tabindex="-8" rows="10" placeholder="Message" class="placeholder contact-form-field" name="message" id="message" required></textarea>
                </p>
              </fieldset>
              <input type="submit" value="Send Your Message" name="submit" class="button">
            </form>
          </section> <!-- #contact-form -->

          <p id="copyright" class="copyrightStyle">
            Copyright &copy; 2008-2013 Kai Gittens
          </p> <!-- #copyright -->
        </div> <!-- #footer-nav-wrapper-inner -->
      </footer> <!-- #footer -->
