        <div style="width: 300px; margin: 0; float:left;">
          <style>
            .c5e7e {
              width: 320px; height: 250px;
            }
            @media(min-width: 500px) {
              .c5e7e { width: 300px; height: 250px; }
            }
            @media(min-width: 800px) {
              .c5e7e { width: 300px; height: 250px; }
            }
          </style>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 0C5E7E -->
           <ins class="adsbygoogle c5e7e" style="display:inline-block" data-ad-client="ca-pub-7363372172009273" data-ad-slot="6333384511"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>