        <nav id="site-navigation" class="main-navigation header-element-margin" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

          <h3 id="menu-heading" class="menu-toggle">Main Menu</h3>
          <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
          <div class="menu-toggle">Here is a description of the links in the main menu</div>
          <ul id="site-navigation-list" class="site-navigation-list-styles">
            <li class="site-navigation-list-link"><a href="/pages/" title="Tutorials on kaidez.com">BLOG</a></li>
            <li class="site-navigation-list-link"><a href="/articles/" title="Tutorials on kaidez.com">ARTICLES</a></li>
            <li class="site-navigation-list-link"><a href="/ajax-tutorial/" title="Coding Tips and Coding Best Practices posts on kaidez.com">AJAX TUTORIAL</a></li>
            <li class="site-navigation-list-link"><a href="/lynda-kaidez/" title="Product and Book Reviews on kaidez.com">KAIDEZ ON LYNDA</a></li>
          </ul> <!-- #site-navigation-list -->

        </nav> <!-- #site-navigation -->
