        <nav id="site-navigation" class="main-navigation header-element-margin" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

          <h3 id="menu-heading" class="menu-toggle">Main Menu</h3>
          <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
          <div class="menu-toggle">Here is a description of the links in the main menu</div>
          <ul id="site-navigation-list" class="site-navigation-list-styles">
            <li class="site-navigation-list-link"><a href="/tutorials/" title="Tutorials on kaidez.com">TUTORIALS</a></li>  
            <li class="site-navigation-list-link"><a href="/coding-best-practices/" title="Coding Tips and Coding Best Practices posts on kaidez.com">CODE TIPS</a></li>
            <li class="site-navigation-list-link"><a href="/reviews/" title="Product and Book Reviews on kaidez.com">REVIEWS</a></li>
            <li class="site-navigation-list-link"><a href="/personal/" title="Personal and Random posts on kaidez.com">PERSONAL</a></li>
          </ul> <!-- #site-navigation-list -->

        </nav> <!-- #site-navigation -->