        <nav id="site-navigation" class="main-navigation header-element-margin" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">

          <h3 id="menu-heading" class="menu-toggle">Main Navigation</h3>
          <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
          
          <ul id="site-navigation-list">
            <li class="site-navigation-list-link"><a href="/tutorials/">TUTORIALS</a></li>  
            <li class="site-navigation-list-link"><a href="/coding-best-practices/">CODE TIPS</a></li>
            <li class="site-navigation-list-link"><a href="/reviews/">REVIEWS</a></li>
            <li class="site-navigation-list-link"><a href="/personal/">PERSONAL</a></li>
          </ul> <!-- #site-navigation-list -->

        </nav> <!-- #site-navigation -->