// Globally force the page to stretch all views
body, html, .site, .site-content {
  height: 100%;
  min-height: 100%;
}


// Globally hide the <nav> header & "Skip to content" link
.menu-header, .screen-reader-text {
  .hide-element();
}

// Make the main site header background pink in all views
.site-header {
  background-color: @pink;
}

// Globallyemove left padding from the main menu
.menu {
  padding-left:0;
}

// Style the <li> tags that contain nav links
.menu-item {
  display: inline;
  list-style-type: none;
  margin-right: 15px;
}

/*
 * ====================================================================
 * LINK STYLES START
 * ====================================================================
 */

// Globally set main link color for the site
// Color is always a bold black
// Only the hover pseudo class shows an underline
a {
  color: @mainLinkColor;
  text-decoration: none;
  font-weight: 900;
  &:visited {
    color: @mainLinkColor;
    text-decoration: none;
    font-weight: 900;
  }
  &:hover {
    color: @mainLinkColor;
    text-decoration: underline;
    font-weight: 900;
  }
  &:active {
    color: @mainLinkColor;
    text-decoration: none;
    font-weight: 900;
  }
}

/*
 * ====================================================================
 * LINK STYLES END
 * ====================================================================
 */

/*
 * ====================================================================
 * ASIDE STYLES
 * ====================================================================
 */

// Make the <aside> background pink
.aside {
  background-color: @pink;
}

// Hide <aside> header
.aside-header {
  .hide-element();
}

// set the width for the <aside> tag's only child element
.aside-inner {
  width: 800px;
}
/*
 * ====================================================================
 * ASIDE STYLES END
 * ====================================================================
 */