@media (min-width: 768px) {
  
  // Push main nav to the left on wide views
  .menu {
  	left: 150px;
    position: relative;
  }

  // Hide the menu button on desktops/laptops
  .menu-toggle {
    .hide-element();
  }

   // Set font-size on the links
  .menu-item {
  	display: block;
  	font-size: 16px;
  }

  .menu-item a {
  	min-width:48px;
  	min-height:48px;
  }
  
  // Style the header on wide views
  .site-header {
  	height: 152px;
    padding:10px 0 0 20px;
  }
  

  // Make the main site link really big on non-handheld views
  .site-title {
    margin-bottom: 5px;
    position: absolute;

    font-size: 65px;
  }

  // Style the tagline on non-handheld views
  .site-description {
  	margin: 0;
  	width:200px;
  	position: absolute;
    top: -47px;

  	font-size: 18px;
  	color: #000;
  }

  // Inline the ".site-branding" div so it can be v-alignd with the nav
  .site-branding {
  	display: inline-block;
  	position: absolute;
  	margin-top: 45px;
  }

  // Style the main navigation
  .main-navigation, {
  	display: inline-block;
    position: absolute;
    left: 180px;
  }
}
