<div class="googleAdsenceContainer">

    <style>

      /* Default ad size setting: used for desktops */
      .kaidezpostad {
        width: 300px; height: 250px;
      }

      /* for tablets */
      @media(max-width: 728px) {
        .kaidezpostad { width: 200px; height: 200px; }
      }
      
      /* for hand-helds */
      @media(max-width: 568px) {
        .kaidezpostad { width: 125px; height: 125px; }
      }

    </style>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

      <!-- kaidezPostAd -->
      <ins class="adsbygoogle kaidezpostad"
          style="display:inline-block"
          data-ad-client="ca-pub-7363372172009273"
          data-ad-slot="6054182915"></ins>

      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

</div>
