body {
  font-family: Helvetica, Arial, sans-serif;
}

.tweet-post-class {
  display: block;
  height: auto;
  width: 280px;
  margin: 50px auto 0;
  padding: 10px;
  border-radius: 5px;

  background-color: #ED327F;
  text-align: center;
  cursor: pointer;
}

a.tweet-post-class{
  color:#fff;
  text-decoration:none
}

a.tweet-post-class:visited{
  color:#fff
}
a.tweet-post-class:active,
a.tweet-post-class:hover{
  color:#fff;
  background-color:#55acee
}