/* Globally force the page to horizontally stretch all views*/
body, html, .site, .site-content {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}

/* Globally force the page to vertically stretch all views*/
.site {
  max-width: 100%;
}

/* Give all Fontawesome icons used on the site a firm height & width */
i {
  width:30px;
  height: 30px;
}

.home-link {
  color: #000;
}

/* add space above a post's time/author info */
.entry-meta {
  margin-top: 10px;
}

a.demo-link,
a.guide-link {
  text-decoration: none;
}

/* Style the "view the demo" link */
a.demo-link,
a.guide-link {
  padding: 10px;

  color: #fff;
  background-color: darken(@pink, 25%);
 
  .br();
}


/*
 * ====================================================================
 * MENU STYLES START
 * ====================================================================
 */

// Globally hide the <nav> header & "Skip to content" link
.menu-header, .screen-reader-text {
  .hide-element();
}

a.homepage-title-link {
  text-decoration:none;
  font-size: 23px;
  &:hover {
    color: lighten(@pink, 10%);
  }
}

// Globally move left padding from the main menu
.menu {
  padding-left:0;
}

// Style the <li> tags that contain nav links
.menu-item {
  list-style-type: none;
}

/* Give the main nav a header, but hide it */
.main-navigation-header {
  .hide-element();
}

/*
 * ====================================================================
 * MENU STYLES END
 * ====================================================================
 */



/*
 * ====================================================================
 * LINK STYLES START
 * ====================================================================
 */

/* 
 * Globally set the link color that appears in content
 * Only the hover pseudo class shows an underline
 */
a {
  color: @pink;
  text-decoration: underline;
  &:visited {
    color: @pink;
    text-decoration: underline;
  }
  &:hover, &:active {
    color: @pink;
    text-decoration: none;
  }
}

// Globally set the link color for the header logo
a.home-link {
  color: #000;
  text-decoration: none;
  &:visited {
    color: #000;
    text-decoration: none;
  }
  &:hover, &:active {
    color: #000;
    text-decoration: none;
  }
}

/*
 * ====================================================================
 * LINK STYLES END
 * ====================================================================
 */



/*
 * ====================================================================
 * POST STYLES START
 * ====================================================================
 */

/* Set code snippet font size */ 
pre[class*="language-"] {
  font-size: 16px;
  font-size: 1.6em;
  font-size: 1.6rem;
}

/*
 * ====================================================================
 * POST STYLES END
 * ====================================================================
 */
/*
 * ====================================================================
 * ASIDE STYLES
 * ====================================================================
 */

/* Make the <aside> background pink */
.aside {
  padding: 14px 15px 0;

  background-color: darken(@pink, 10%);
}

/* Hide <aside> header */
.aside-header {
  .hide-element();
}

.aside-section-header {
  font-weight: 900;
  color: lighten(@pink, 30%);
}

// set the width for the <aside> tag's only child element
.aside-inner {
  width: 775px;
}

// Remove left margin from all <ul> tags in <aside>
.aside-list {
  padding-left: 0;
}

// Style all <li> tags in <aside>
.aside-list-item {
  height: 34px;
  list-style-type: none;

  color: #000;
}

a.aside-link {
  color: darken(@pink, 80%);
  text-decoration: none;
  
  &:visited {
    color: darken(@pink, 80%);
    text-decoration: none; 
  }

  &:hover {
    color: darken(@pink, 30%);
    text-decoration: underline;  
  }
}
/*
 * ====================================================================
 * ASIDE STYLES END
 * ====================================================================
 */



/*
 * ====================================================================
 * FOOTER STYLES START
 * ====================================================================
 */

/* Style the main site <footer> */
.site-footer {
  padding-bottom: 45px;

  background-color: darken(@pink, 30%);
  color: #fff;
}

/* Style the footer text */
.footer-text {
  margin-right: 10px;
  margin-bottom: 0px;
  text-align: right;

  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.7;
}

a.footer-links {
  margin-left: 9px;

  color: #fff;

  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
  }
}

a.colophon-link {
  color: lighten(@pink, 20%);
  text-decoration: none;

  &:visited {
    color: lighten(@pink, 20%);
    text-decoration: none;
  }

  &:hover {
    color: lighten(@pink, 25%);
    text-decoration: none;
  }
}

/*
 * ====================================================================
 * FOOTER STYLES END
 * ====================================================================
 */


/*
 * ===================================================================
 * MISCELLANOUS STYLES START
 * ===================================================================
 */

/* Make all category pages lowercase */
.category .page-title {
  text-transform: lowercase;
}

.youtube-iframe {
  max-width: 100%;
}

/* Make post-related images responsive */
.post-pic {
  .responsive-image();
}

/*
 * ===================================================================
 * MISCELLANOUS STYLES END
 * ===================================================================
 */