@media (max-width: 767px) {

  /* MOBILE MENU STYLES START */

  /* Mobile menu containing element */
  .mobile-menu {
    position: relative;
    bottom: 40px;
    float: right;
    padding: 5px 8px 1px;
    margin: 8px 15px 8px 0;
    height: 48px;
    width: 48px;
    .z2();

    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
  }

  /* Mobile menu container lines, i.e., the "hamburger menu" */ 
  .mobile-menu-bar {
    display: block;
    width: 31px;
    height: 4px;
    margin: 0 auto 4px;

    background-color: @pink;
    border-radius: 1px;
  }
  


  /*
   * Have the lines in the mobile turn black
   * Give the button a black border
   * Do this for multiple classes
   */
  .btn-default {
    &:active span, &:hover span, &:focus span {
      background-color: #000;
      border: 1px solid #000;
    }
  }

  /*
   *
   */
  @-webkit-keyframes menu {
    0% {-webkit-transform: translateY(0px);  }
    100% {-webkit-transform: translateY(50px); opacity:1;}
  }



  @keyframes menu {
    0% {transform: translateY(0px);  }
    100% {transform: translateY(50px); opacity:1;}
  }

  .kai {
    -webkit-animation-name: menu;
            animation-name: menu;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;

    position: relative;
    .z1();
    background-color: #ED327F;
  }

  /* MOBILE MENU STYLES END */

  .site-branding {
    .z2();
    position: relative;
  }

  /*
   * Hide some elements on mobile views with .ti() text-indent mixin
   * May not be needed so it's commented out for now
   */
  /*.glyphicon {
  	.ti()
  }
  */

  /* Hide the site colophon/description on mobile view */
  .site-description {
    .hide-element()
  }

  /*
   * Move the site content down on mobile views on some pages
   * Do this to make room for the search box
   */
  .site-content {
    margin-top: 70px;
  }

  /* Move the search box down on some pages */
  .searchform-class {
    position: relative;
    top: 60px;
  }

  /* Add space between a single post's header & content */
  .entry-header {
    margin-bottom: 20px;
  }

  /* Style post title smaller on mobile views */
  .entry-title {
    font-size: 4px;
    font-size: 4rem;
  }

  .main-navigation {
    opacity: 0;
    position: relative;
    bottom: 35px;
  }

  /* Add left/right space to the blog post content */
  .content-area {
    padding: 0 10px;
  }

  .aside {
    padding:0 10px;
  }

}
