@media (min-width: 768px) and (max-width: 991px) {

  /* Style searchform */
  .searchform-class {
    right: -267px;
    display:inline;
  }

  /* Style the header on tablet views */
  .site-header {
    padding: 20px 0 0 20px;
  }  
  
}
