@media (min-width: 768px) {

  /* Style the <header> tag*/
  .site-header {
    z-index: 3;
    width: 100%;

    background-color: #fff;
  }


  /* Style the tagline on wide views */
  .site-description {
    width:219px;
    margin: 0;

  	font-size: 25px;
  	color: #000;
    border-top: 1px solid #000;
  }

  /* Style the demo/guide link*/
  a.demo-link,
  a.guide-link {
    display: block;

    font-size: 22px;
    font-size: 2.2em;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
  }

  /* Set the demo link width */
  .demo-link {
    width: 173px;
  }

  /* Set the guide link width */
  .guide-link {
    width: 333px;
  }

  /* Inline the ".site-branding" so it can be v-alignd with <nav> */
  .site-branding {
    width: 300px;
    display: inline-block;
  }

  /* Define width & height for the content area in tablet-like views*/
  .content-area {
    min-width: 768px;
    min-height: 375px;
  }

  /* Style searchform */
  .searchform-class {
    position: relative;
    top: -25px;
    right: 33px;
    display: inline-block;
  }

  /* Style the main navigation */
  .main-navigation {
    position:relative;
    top: -25px;
    display: inline-block;
  }

  /* Hide the menu button on desktops/laptops */
  .menu-toggle {
    .hide-element();
  }

  /* style links on desktop view*/
  .menu-item {
  	display: inline-block;
  	margin: 0  20px 10px 0;

  	font-size: 16px;
    font-size: 1.6rem;
    .bold();
  }

  /* Give a minimum width height to links as per Google's guidelines */
  .menu-item a {
  	min-width:48px;
  	min-height:48px;

    color: darken(@pink, 15%);
    text-decoration: none;

      &:hover {
        color: lighten(@pink, 10%);
        text-decoration: underline;
    
        .bolder();
      }
    }

  /* Make right triangle glyphicon black */
  .glyphicon {
  	color: #000;
  }

  /* Style the search field */
  .header-search-field {
    width: 300px;
    height: 40px;
    right: -38px;
    position: relative;
    
    border: 1px solid #000;
  }

  /* Style the search button */
  .header-search-submit {
    position: relative;
    right: 8px;

    background-color: transparent;
    border: none;
  }

  /* Hide the mobile search button on desktop view */
  .btn-mobile-search {
    .hide-element();
  }

  /* style the main site link */
  a.home-link {
    color: @pink;
    text-decoration: none;
    font-size: 71px;

    .bolder();
    &:visited {
      color: @pink;
      text-decoration: none;
    
      .bolder();
    }
    &:hover {
      color: darken(@pink, 10%);
      text-decoration: none;
    
      .bolder();
    }
    &:active {
      color: @pink;
      text-decoration: none;
    
      .bolder();
    }
  }

  /* set width, position columns in <aside> on wide views */
  .col-md-4 {
    width: 230px;
    display: inline-block;
    vertical-align: top;
  }

  /* Padding for the <aside> */
  .aside {
    background: darken(@pink, 10%)  ;
  }

  /* set left margin for <aside> on wide views */
  .aside-inner {
    margin-left:25px
  }

  /* Style the kaidez bio copy */
  .bio-copy {
    position:absolute;    
    width: 300px;
    z-index: 2;
    top: 81px;
    left: 42px;
  }

  /* Style the kaidez bio image */
  .bio-image {
    position: absolute;
    top: -14px;
    z-index:1;
  }

  /* Style AJAX loading animated loading .gif for the <aside> */
  .loading {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    padding-bottom: 22px;

    background: url("/wp-content/themes/kaidez-swiss/js/ajax-loader.gif") no-repeat;
  }


  /*
   * ==================================================================
   * POST STYLES START
   * ==================================================================
   */

  /* Set a max-width of 768px for posts & general pages */
  .entry-content {
    max-width: 768px;
  }

  /* Style the title on pages, had no choice but to create a cascade */
  .page .entry-title {
    margin-bottom: 10px;

    .bold();
  }

  /*
   * ==================================================================
   * POST STYLES END
   * ==================================================================
   */



  /*
   * ==================================================================
   * SIDEBAR STYLES START
   * ==================================================================
   */
  
  .sidebar-class {
 
  }


  /*
   * ==================================================================
   * SIDEBAR STYLES END
   * ==================================================================
   */
  /*
   * ==================================================================
   * FOOTER STYLES START
   * ==================================================================
   */

  /* Style <footer> */
  .site-footer {
    padding-right: 20px;
  }

  .load-footer-content-message {
    .hide-element();
  }

  /*
   * ==================================================================
   * FOOTER STYLES END
   * ==================================================================
   */

  /* Hide mobile menu & "back-to-top" button on widescreen devices */
  .mobile-menu,
  .jump-to-top-link {
    .hide-element();
  }

}