/*
 * HELPER CLASSES
 */
.hide-element {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.ti {
  text-indent: -9999px;
}
/* Z-INDEX MIXINS */
/* 5 or less should be fine, but plugin code may want mord */
/* WordPress also gets crazy with z-indexes (e.g. "z-index: 9999") */
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}
/* clearfix */
/*
 * HELPER CLASSES END
 */
/*
 * BOOTSTRAP OVERRIDES
 * ====================================================================
 * Styles that override core Bootstrap CSS go here. They're placed
 * below the core Bootstrap styles and above custom styles in the
 * build.
 *
 */
/*
 * Bootstrap sets core font size to 14px, but Google suggests 16px 
 * (see bit.ly/1KO03ER)
 * Override this
 */
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
}
/* Bootstrap applies top/bottoms to elements...remove them */
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
/* Override Bootstrap's <p> styles...increase the margin-bottom */
p {
  margin: 0 0 22px;
}
/* Override SOME parts of Bootstrap's .btn class */
.btn {
  border-radius: 0;
  font-weight: 900;
  background-color: #000;
}
/*
 * Override parts of Bootstrap's .btn-default class
 * These affects the mobile hamburger menu & search submit button
 */
.btn-default {
  border: none;
  color: #ed327f;
  /* Override some of Bootstrap's .btn-default states */
}
.btn-default:active,
.btn-default:hover,
.btn-default:focus {
  color: #000;
  background-color: #ed327f;
  border-color: #000;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  /* Small screen, retina, stuff to override above media query */
}
@media only screen and (min-width: 768px) {
  /* Medium screen, non-retina */
}
@media only screen and (min-width: 1300px) {
  /* Large screen, non-retina */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1300px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min-resolution: 192dpi) and (min-width: 1300px), only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
  /* Large screen, retina, stuff to override above media query */
}
/*
 * ALL ANIMATION STYLES FOR THE ENTIRE SITE
 *
 * Note that all the animations are outside of the media queries
 * This needs to be done so that they work in IE, version 10 at least
 */
/* START MOBILE DROP-DOWN STYLES */
@-webkit-keyframes showMobileMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showMobileMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes hideMobileMenu {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hideMobileMenu {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.show-menu {
  -webkit-animation-name: showMobileMenu;
  animation-name: showMobileMenu;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative;
  z-index: 1;
}
.hide-menu {
  -webkit-animation-name: hideMobileMenu;
  animation-name: hideMobileMenu;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative;
  z-index: 1;
}
/* END MOBILE DROP-DOWN STYLES */
/* START SEARCH BOX ANIMATION STYLES */
@-webkit-keyframes showSearchbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showSearchbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideSearchbox {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hideSearchbox {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.show-searchbox {
  -webkit-animation-name: showSearchbox;
  animation-name: showSearchbox;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.hide-searchbox {
  -webkit-animation-name: hideSearchbox;
  animation-name: hideSearchbox;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* END SEARCH BOX ANIMATION STYLES */
/* Globally force the page to horizontally stretch all views*/
body,
html,
.site,
.site-content {
  min-height: 100%;
}
/* Globally force the page to vertically stretch all views*/
.site {
  max-width: 100%;
  overflow-x: hidden;
}
/* Give all Fontawesome icons a firm height & width */
i {
  width: 30px;
  height: 30px;
}
.home-link {
  color: #000;
}
/*
 * ====================================================================
 * MENU STYLES START
 * ====================================================================
 */
.menu-header,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Style the <header>
 * Give it a pink background in all views
 * It should horizontally stretch as much as it can
 */
.site-header {
  background-color: #ed327f;
  width: 100%;
}
a.homepage-title-link {
  text-decoration: none;
}
a.homepage-title-link:hover {
  color: #f1619c;
}
.menu {
  padding-left: 0;
}
.menu-item {
  display: inline;
  list-style-type: none;
  margin-right: 15px;
}
/*
 * ====================================================================
 * MENU STYLES END
 * ====================================================================
 */
/*
 * ====================================================================
 * LINK STYLES START
 * ====================================================================
 */
a {
  color: #ed327f;
  text-decoration: underline;
}
a:visited {
  color: #ed327f;
  text-decoration: underline;
}
a:hover,
a:active {
  color: #ed327f;
  text-decoration: none;
}
a.home-link {
  color: #000;
  text-decoration: none;
}
a.home-link:visited {
  color: #000;
  text-decoration: none;
}
a.home-link:hover,
a.home-link:active {
  color: #000;
  text-decoration: none;
}
/*
 * ====================================================================
 * LINK STYLES END
 * ====================================================================
 */
/*
 * ====================================================================
 * ASIDE STYLES
 * ====================================================================
 */
/* Make the <aside> background pink */
.aside {
  padding: 14px 15px 0;
  background-color: #d91365;
}
/* Hide <aside> header */
.aside-header {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.aside-section-header {
  font-weight: 900;
  color: #f9bfd7;
}
.aside-inner {
  width: 775px;
}
.aside-list {
  padding-left: 0;
}
.aside-list-item {
  height: 34px;
  list-style-type: none;
  color: #000;
}
a.aside-link {
  color: #000000;
  text-decoration: none;
}
a.aside-link:visited {
  color: #000000;
  text-decoration: none;
}
a.aside-link:hover {
  color: #7b0b39;
  text-decoration: underline;
}
/*
 * ====================================================================
 * ASIDE STYLES END
 * ====================================================================
 */
/*
 * ====================================================================
 * FOOTER STYLES START
 * ====================================================================
 */
/* Style the main site <footer> */
.site-footer {
  padding-bottom: 45px;
  background-color: #7b0b39;
  color: #fff;
}
/* Style the footer text */
.footer-text {
  margin-right: 10px;
  margin-bottom: 0px;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.7;
}
a.footer-links {
  margin-left: 9px;
  color: #fff;
}
a.footer-links:visited {
  color: #fff;
}
a.footer-links:hover {
  color: #fff;
}
a.colophon-link {
  color: #f590ba;
  text-decoration: none;
}
a.colophon-link:visited {
  color: #f590ba;
  text-decoration: none;
}
a.colophon-link:hover {
  color: #f7a7c8;
  text-decoration: none;
}
/*
 * ====================================================================
 * FOOTER STYLES END
 * ====================================================================
 */
/*
 * ===================================================================
 * MISCELLANOUS STYLES START
 * ===================================================================
 */
.youtube-iframe {
  max-width: 100%;
}
/* Style the submit button on all posts */
.submit {
  padding: 10px;
  border: none;
  color: #fff;
  background-color: #c2115a;
}
.comment-label {
  display: block;
}
/*
  * ===================================================================
  * MISCELLANOUS STYLES END
  * ===================================================================
  */
@media (min-width: 768px) {
  .site-header {
    padding: 3px 0 0 20px;
  }
  .site-title {
    margin-bottom: 5px;
    position: absolute;
    font-size: 65px;
  }
  .site-description {
    margin: 0;
    width: 200px;
    position: absolute;
    top: -47px;
    left: 7px;
    font-size: 18px;
    font-weight: 900;
    color: #000;
  }
  .site-branding {
    display: inline-block;
    position: absolute;
    margin-top: 45px;
  }
  .site-main {
    margin-top: 87px;
  }
  .searchform-class {
    width: 300px;
    position: relative;
    left: 350px;
    top: 83px;
  }
  .main-navigation {
    display: inline-block;
    position: absolute;
    left: 180px;
  }
  .menu {
    left: 150px;
    position: relative;
  }
  .menu-toggle {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  /* style links on desktop view*/
  .menu-item {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .menu-item a {
    min-width: 48px;
    min-height: 48px;
    color: black;
    text-decoration: none;
  }
  .glyphicon {
    color: #000;
  }
  .header-search-field {
    width: 190px;
    height: 31px;
    border: 1px solid #000;
  }
  a.home-link {
    color: #ed327f;
    text-decoration: none;
    font-weight: 900;
    font-size: 81px;
  }
  a.home-link:visited {
    color: #ed327f;
    text-decoration: none;
    font-weight: 900;
  }
  a.home-link:hover {
    color: #d91365;
    text-decoration: none;
    font-weight: 900;
  }
  a.home-link:active {
    color: #ed327f;
    text-decoration: none;
    font-weight: 900;
  }
  .col-md-4 {
    width: 230px;
    display: inline-block;
    vertical-align: top;
  }
  .aside-inner {
    margin-left: 25px;
  }
  /*
   * ==================================================================
   * FOOTER STYLES START
   * ==================================================================
   */
  /*
   * ==================================================================
   * FOOTER STYLES END
   * ==================================================================
   */
  /* Hide mobile menu & "back-to-top" button on widescreen devices */
  .mobile-menu,
  .jump-to-top-link {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}
@media (max-width: 767px) {
  /* LOGO CONTAINER STYLES START */
  /* Center the site title on mobile */
  .site-title {
    text-align: center;
  }
  /* LOGO CONTAINER STYLES END */
  /* MOBILE MENU STYLES START */
  /* Mobile menu containing element */
  .mobile-menu {
    position: relative;
    bottom: 40px;
    height: 48px;
    width: 48px;
    z-index: 2;
    border-radius: 4px;
    background-color: transparent;
  }
  /* Mobile search containing element */
  .mobile-search {
    position: relative;
    bottom: 29px;
    float: right;
    cursor: pointer;
    color: #000;
  }
  /* Mobile menu container lines, i.e., the "hamburger menu" */
  .mobile-menu-bar {
    display: block;
    width: 31px;
    height: 4px;
    margin: 0 auto 4px;
    background-color: #000;
    border-radius: 2px;
  }
  /*
   * Have the lines in the mobile turn pink
   * Do this for multiple classes
   */
  .btn-default:active span,
  .btn-default:hover span,
  .btn-default:focus span {
    background-color: #7b0b39;
  }
  /* MOBILE MENU STYLES END */
  .site-header {
    position: fixed;
    height: 51px;
    width: auto;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transform: translateZ(0);
  }
  .site-branding {
    position: relative;
  }
  /*
   * Hide some elements on mobile views with .ti() text-indent mixin
   * May not be needed so it's commented out for now
   */
  /*.glyphicon {
  	.ti()
  }
  */
  /* Hide the site colophon/description on mobile view */
  .site-description {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  /*
   * Move the site content down on mobile views on some pages
   * Do this to make room for the search box
   */
  .site-content {
    margin-top: 70px;
  }
  /* Style the search box on hand-held devices */
  .searchform-class {
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px;
    background-color: #d91365;
    opacity: 0;
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
  }
  /* Add space between a single post's header & content */
  .entry-header {
    margin-bottom: 20px;
  }
  /* Style post title on mobile views */
  .entry-title {
    font-size: 38px;
    font-size: 3.8rem;
    font-weight: bold;
  }
  .main-navigation {
    position: relative;
    bottom: 35px;
    opacity: 0;
  }
  .menu-item a {
    color: #000;
    text-decoration: none;
  }
  .menu-item a:hover {
    color: #000;
    text-decoration: underline;
  }
  .menu-item a:visited {
    color: #000;
    text-decoration: none;
  }
  /* Add left/right space to <aside> and single blog post content */
  .content-area {
    padding: 0 15px;
  }
  /*
   * ==================================================================
   * ASIDE STYLES START
   * ==================================================================
   */
  .post-comment {
    width: 100%;
    max-width: 500px;
  }
  /*
   * ==================================================================
   * ASIDE STYLES END
   * ==================================================================
   */
  /*
   * ==================================================================
   * FOOTER STYLES START
   * ==================================================================
   */
  /* Style the main site <footer> on hand-helds */
  .site-footer {
    padding-top: 15px;
  }
  /* Space out some text in the <footer> */
  .footer-text-spaced {
    margin-top: 25px;
  }
  /*
   * Style the "Back To Top" button
   * Appears on mobile devices only, so it should be in "media"
   */
  .jump-to-top {
    margin: 40px auto 0;
    padding: 10px;
    width: 200px;
    color: #fff;
    text-align: center;
    background-color: #000;
  }
  /*
   * Globally set main link color for the site
   * Only the hover pseudo class shows an underline
   */
  a.jump-to-top-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  a.jump-to-top-link:visited {
    text-decoration: none;
  }
  a.jump-to-top-link:hover,
  a.jump-to-top-link:active {
    text-decoration: none;
  }
  /*
   * ==================================================================
   * FOOTER STYLES END
   * ==================================================================
   */
}
