/*
 * HELPER CLASSES
 */
.hide-element {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/* Make images responsive */
.responsive-image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.ti {
  text-indent: -9999px;
}
/* Font weights */
/* Z-INDEX MIXINS */
/* 5 or less should be fine, but plugin code may want mord */
/* WordPress also gets crazy with z-indexes (e.g. "z-index: 9999") */
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}
/* clearfix */
/* Remove the common left padding that appears on all <ul> tags*/
.ul-reset {
  padding-left: 0;
}
/* The common border-radius styling*/
.br {
  border-radius: 5px;
}
/*
 * HELPER CLASSES END
 */
/* Global drop-shadow setting */
.drop-shadow {
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
}
/*
 * BOOTSTRAP OVERRIDES
 * ====================================================================
 * Styles that override core Bootstrap CSS go here. They're placed
 * below the core Bootstrap styles and above custom styles in the
 * build.
 *
 */
/*
 * Bootstrap sets core font size to 14px, but Google suggests 16px 
 * (see bit.ly/1KO03ER)
 * Override this
 */
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
}
/* Bootstrap applies top/bottoms to elements...remove them */
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
/* Override Bootstrap's <p> styles...increase the margin-bottom */
p {
  margin: 0 0 22px;
}
/* Override SOME parts of Bootstrap's .btn class */
.btn {
  border-radius: 0;
  font-weight: 900;
  background-color: #000;
}
/*
 * Override parts of Bootstrap's .btn-default class
 * These affects the mobile hamburger menu & search submit button
 */
.btn-default {
  border: none;
  color: #ed327f;
  /* Override some of Bootstrap's .btn-default states */
}
.btn-default:active,
.btn-default:hover,
.btn-default:focus {
  color: #000;
  background-color: #ed327f;
  border-color: #000;
}
/*
 * position: relative causes weird issues for this Bootstrap element
 * Set it to position:static
 */
@media (max-width: 767px) {
  .col-md-4 {
    position: static;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  /* Small screen, retina, stuff to override above media query */
}
@media only screen and (min-width: 768px) {
  /* Medium screen, non-retina */
}
@media only screen and (min-width: 1300px) {
  /* Large screen, non-retina */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1300px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min-resolution: 192dpi) and (min-width: 1300px), only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
  /* Large screen, retina, stuff to override above media query */
}
/*
 * ALL ANIMATION STYLES FOR THE ENTIRE SITE
 *
 * Note that all the animations are outside of the media queries This
 * needs to be done so that they work in IE, version 10 at least
 */
/* START MOBILE DROP-DOWN STYLES */
@-webkit-keyframes showMobileMenu {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(350px);
  }
}
@keyframes showMobileMenu {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(350px);
  }
}
@-webkit-keyframes hideMobileMenu {
  from {
    transform: translateY(350px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes hideMobileMenu {
  from {
    transform: translateY(350px);
  }
  to {
    transform: translateY(0px);
  }
}
.show-menu {
  -webkit-animation-name: showMobileMenu;
  animation-name: showMobileMenu;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
}
.hide-menu {
  -webkit-animation-name: hideMobileMenu;
  animation-name: hideMobileMenu;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: relative;
  z-index: 1;
}
/* END MOBILE DROP-DOWN STYLES */
/* START SEARCH BOX ANIMATION STYLES */
@-webkit-keyframes showSearchbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showSearchbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hideSearchbox {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hideSearchbox {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.show-searchbox {
  -webkit-animation-name: showSearchbox;
  animation-name: showSearchbox;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.hide-searchbox {
  -webkit-animation-name: hideSearchbox;
  animation-name: hideSearchbox;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* END SEARCH BOX ANIMATION STYLES */
/* Globally force the page to horizontally stretch all views*/
body,
html,
.site,
.site-content {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}
/* Globally force the page to vertically stretch all views*/
.site {
  max-width: 100%;
}
/* Give all Fontawesome icons used on the site a firm height & width */
i {
  width: 30px;
  height: 30px;
}
.home-link {
  color: #000;
}
/* add space above a post's time/author info */
.entry-meta {
  margin-top: 10px;
}
/* Globally center the content area...add space to the sides */
.content-area {
  margin: 0 auto;
  padding: 0 15px;
}
/*
 * ====================================================================
 * MENU STYLES START
 * ====================================================================
 */
.menu-header,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
a.homepage-title-link {
  text-decoration: none;
}
a.homepage-title-link:hover {
  color: #f1619c;
}
.menu {
  padding-left: 0;
}
.menu-item {
  list-style-type: none;
}
/* Give the main nav a header, but hide it */
.main-navigation-header {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
/*
 * ====================================================================
 * MENU STYLES END
 * ====================================================================
 */
/*
 * ====================================================================
 * LINK STYLES START
 * ====================================================================
 */
/* 
 * Globally set the link color that appears in content
 * Only the hover pseudo class shows an underline
 */
a {
  color: #ed327f;
  text-decoration: underline;
}
a:visited {
  color: #ed327f;
  text-decoration: underline;
}
a:hover,
a:active {
  color: #ed327f;
  text-decoration: none;
}
a.home-link {
  color: #000;
  text-decoration: none;
}
a.home-link:visited {
  color: #000;
  text-decoration: none;
}
a.home-link:hover,
a.home-link:active {
  color: #000;
  text-decoration: none;
}
/*
 * ====================================================================
 * LINK STYLES END
 * ====================================================================
 */
/*
 * ====================================================================
 * ASIDE STYLES
 * ====================================================================
 */
/* Make the <aside> background pink */
.aside {
  padding: 14px 15px 0;
  background-color: #d91365;
}
/* Hide <aside> header */
.aside-header {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.aside-section-header {
  font-weight: 900;
  color: #f9bfd7;
}
.aside-inner {
  width: 775px;
}
.aside-list {
  padding-left: 0;
}
.aside-list-item {
  height: 34px;
  list-style-type: none;
  color: #000;
}
a.aside-link {
  color: #000000;
  text-decoration: none;
}
a.aside-link:visited {
  color: #000000;
  text-decoration: none;
}
a.aside-link:hover {
  color: #7b0b39;
  text-decoration: underline;
}
/*
 * ====================================================================
 * ASIDE STYLES END
 * ====================================================================
 */
/*
 * ====================================================================
 * FOOTER STYLES START
 * ====================================================================
 */
/* Style the main site <footer> */
.site-footer {
  padding-bottom: 45px;
  background-color: #7b0b39;
  color: #fff;
}
/* Style the footer text */
.footer-text {
  margin-right: 10px;
  margin-bottom: 0px;
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.7;
}
a.footer-links {
  margin-left: 9px;
  color: #fff;
}
a.footer-links:visited {
  color: #fff;
}
a.footer-links:hover {
  color: #fff;
}
a.colophon-link {
  color: #f590ba;
  text-decoration: none;
}
a.colophon-link:visited {
  color: #f590ba;
  text-decoration: none;
}
a.colophon-link:hover {
  color: #f7a7c8;
  text-decoration: none;
}
/*
 * ====================================================================
 * FOOTER STYLES END
 * ====================================================================
 */
/*
 * ===================================================================
 * MISCELLANOUS STYLES START
 * ===================================================================
 */
.youtube-iframe {
  max-width: 100%;
}
/* Make post-related images responsive */
.post-pic {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
/*
  * ===================================================================
  * MISCELLANOUS STYLES END
  * ===================================================================
  */
@media (min-width: 768px) {
  /* Style the header on wide views */
  .site-header {
    padding: 20px 0 0 20px;
    background-color: #f9bfd7;
  }
  /* Make the main site link really big on non-handheld views */
  .site-title {
    font-size: 30px;
    font-size: 3.0rem;
  }
  /* Style the tagline on wide views */
  .site-description {
    width: 221px;
    margin: 0;
    font-size: 17px;
    font-size: 1.7rem;
    color: #000;
    border-top: 1px solid #000;
  }
  /* Inline the ".site-branding" so it can be v-alignd with <nav> */
  .site-branding {
    width: 300px;
    display: inline-block;
  }
  /* push <main> further down the page */
  .site-main {
    margin-top: 30px;
  }
  /* Define width for the content area in tablet-like views*/
  .content-area {
    max-width: 768px;
  }
  /* Style searchform */
  .searchform-class {
    position: relative;
    top: -25px;
    right: 33px;
    display: inline-block;
  }
  /* Style the main navigation */
  .main-navigation {
    position: relative;
    top: -25px;
    display: inline-block;
  }
  /* Hide the menu button on desktops/laptops */
  .menu-toggle {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  /* style links on desktop view*/
  .menu-item {
    display: inline-block;
    margin: 0  20px 10px 0;
    font-size: 16px;
    font-weight: 700;
  }
  /* Give a minimum width height to links as per Google's guidelines */
  .menu-item a {
    min-width: 48px;
    min-height: 48px;
    color: #c2115a;
    text-decoration: none;
  }
  .menu-item a:hover {
    color: #f1619c;
    text-decoration: underline;
    font-weight: 900;
  }
  /* Make right triangle glyphicon black */
  .glyphicon {
    color: #000;
  }
  /* Style the search field */
  .header-search-field {
    width: 376px;
    height: 31px;
    right: -38px;
    position: relative;
    border: 1px solid #000;
  }
  /* Style the search button */
  .header-search-submit {
    position: relative;
    right: 8px;
    background-color: transparent;
    border: none;
  }
  /* Hide the mobile search button on desktop view */
  .btn-mobile-search {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  a.home-link {
    color: #ed327f;
    text-decoration: none;
    font-size: 35px;
    font-size: 3.5rem;
    font-weight: 900;
  }
  a.home-link:visited {
    color: #ed327f;
    text-decoration: none;
    font-weight: 900;
  }
  a.home-link:hover {
    color: #d91365;
    text-decoration: none;
    font-weight: 900;
  }
  a.home-link:active {
    color: #ed327f;
    text-decoration: none;
    font-weight: 900;
  }
  /* set width, position columns in <aside> on wide views */
  .col-md-4 {
    width: 230px;
    display: inline-block;
    vertical-align: top;
  }
  /* set left margin for <aside> on wide views */
  .aside-inner {
    margin-left: 25px;
  }
  /* Style AJAX loading animated loading .gif for the <aside> */
  .loading {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    padding-bottom: 22px;
    background: url("/wp-content/themes/kaidez-swiss/js/ajax-loader.gif") no-repeat;
  }
  /*
   * ==================================================================
   * FOOTER STYLES START
   * ==================================================================
   */
  /* Style <footer> */
  .site-footer {
    padding-right: 20px;
  }
  .load-footer-content-message {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  /*
   * ==================================================================
   * FOOTER STYLES END
   * ==================================================================
   */
  /* Hide mobile menu & "back-to-top" button on widescreen devices */
  .mobile-menu,
  .jump-to-top-link {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}
@media (min-width: 1200px) {
  /* Define width for the content area in large desktop views */
  .content-area {
    max-width: 1220px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* Style searchform */
  .searchform-class {
    right: -267px;
    display: inline;
  }
}
@media (max-width: 767px) {
  /* LOGO CONTAINER STYLES START */
  /* Center the site title on mobile */
  .site-title {
    text-align: center;
  }
  /* LOGO CONTAINER STYLES END */
  /* MOBILE MENU STYLES START */
  /* Mobile menu containing element */
  .mobile-menu {
    position: relative;
    bottom: 40px;
    height: 48px;
    width: 48px;
    z-index: 2;
    border-radius: 4px;
    background-color: transparent;
  }
  /* Mobile search containing element */
  .mobile-search {
    position: absolute;
    right: 8px;
    bottom: 7px;
    cursor: pointer;
    color: #000;
  }
  /* Mobile menu container lines, i.e., the "hamburger menu" */
  .mobile-menu-bar {
    display: block;
    width: 31px;
    height: 4px;
    margin: 0 auto 4px;
    background-color: #000;
    border-radius: 2px;
  }
  /*
   * Have the lines in the mobile turn pink
   * Do this for multiple classes
   */
  .btn-default:active span,
  .btn-default:hover span,
  .btn-default:focus span {
    background-color: #7b0b39;
  }
  /* MOBILE MENU STYLES END */
  .site-branding {
    position: relative;
    height: 51px;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ed327f;
  }
  /*
   * Hide some elements on mobile views with .ti() text-indent mixin
   * May not be needed so it's commented out for now
   */
  /*.glyphicon {
  	.ti()
  }
  */
  /* Hide the site colophon/description on mobile view */
  .site-description {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  /* define width/center <main> element on mobile view */
  .site-main {
    width: auto;
    margin: 0 auto;
  }
  /*
   * Move the site content down on mobile views on some pages
   * Do this to make room for the search box
   */
  .site-content {
    margin-top: 95px;
  }
  /* Style the search box on hand-held devices */
  .searchform-class {
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px;
    background-color: #d91365;
    opacity: 0;
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.18);
  }
  /* Add space between a single post's header & content */
  .entry-header {
    margin-bottom: 42px;
  }
  /* Hide certain breadcrumb elements */
  .hide-breadcrumb-element {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  /* Style post title on mobile views */
  .entry-title {
    font-size: 38px;
    font-size: 3.8rem;
    font-weight: bold;
  }
  /* Style main nav on mobile views */
  .main-navigation {
    position: absolute;
    top: -301px;
    width: 100%;
    height: 300px;
    background-color: #f1619c;
  }
  a.nav-links {
    height: 70px;
    display: block;
    padding-left: 10px;
    line-height: 4rem;
    line-height: 4em;
    color: #000;
    text-decoration: none;
    font-weight: 900;
  }
  a.nav-links:hover {
    color: #fff;
    text-decoration: none;
    background-color: #d91365;
  }
  a.nav-links:visited {
    color: #000;
    text-decoration: none;
  }
  /*
   * ==================================================================
   * HEADER STYLES START
   * ==================================================================
   */
  /* Style the <header> */
  .site-header {
    width: 100%;
    height: 49px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    z-index: 1;
  }
  /*
   * ==================================================================
   * HEADER STYLES END
   * ==================================================================
   */
  .post-comment {
    width: 100%;
    max-width: 500px;
  }
  /* Make the comment textarea's width a certain width */
  .comment-textarea {
    width: 290px;
  }
  /*
   * ==================================================================
   * ASIDE STYLES START
   * ==================================================================
   */
  .loading {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  /*
   * ==================================================================
   * ASIDE STYLES END
   * ==================================================================
   */
  /*
   * ==================================================================
   * FOOTER STYLES START
   * ==================================================================
   */
  /* Style the main site <footer> on hand-helds */
  .site-footer {
    padding-top: 15px;
  }
  /* Space out some text in the <footer> */
  .footer-text-spaced {
    margin-top: 25px;
  }
  /*
   * Style the "Back To Top" button
   * Appears on mobile devices only, so it should be in "media"
   */
  .jump-to-top {
    margin: 40px auto 0;
    padding: 10px;
    width: 200px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    background-color: #000;
  }
  .load-footer-content-message {
    height: 40px;
    margin-top: 85px;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    background-color: #ef498e;
    cursor: pointer;
    font-weight: 900;
  }
  /*
   * Globally set main link color for the site
   * Only the hover pseudo class shows an underline
   */
  a.jump-to-top-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  a.jump-to-top-link:visited {
    text-decoration: none;
  }
  a.jump-to-top-link:hover,
  a.jump-to-top-link:active {
    text-decoration: none;
  }
  /*
   * ==================================================================
   * FOOTER STYLES END
   * ==================================================================
   */
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Style searchform */
  .searchform-class {
    right: -267px;
    display: inline;
  }
}
