/*
 * HELPER CLASSES
 */
.hide-element {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.ti {
  text-indent: -9999px;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}
/*
 * HELPER CLASSES END
 */
/*
 * BOOTSTRAP OVERRIDES
 * ====================================================================
 * Styles that override core Bootstrap CSS go here. Place them below
 * core Bootstrap styles and above custom styles in the build.
 */
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.btn {
  border-radius: 0;
  font-weight: 900;
  background-color: #000;
}
.btn-default {
  border: 0;
  color: #ed327f;
}
.btn-default:hover {
  color: #000;
  background-color: #ed327f;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px), only screen and (min-device-pixel-ratio: 2) and (min-width: 320px), only screen and (min-resolution: 192dpi) and (min-width: 320px), only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  /* Small screen, retina, stuff to override above media query */
}
@media only screen and (min-width: 768px) {
  /* Medium screen, non-retina */
}
@media only screen and (min-width: 1300px) {
  /* Large screen, non-retina */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1300px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min-resolution: 192dpi) and (min-width: 1300px), only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
  /* Large screen, retina, stuff to override above media query */
}
body,
html,
.site,
.site-content {
  height: 100%;
  min-height: 100%;
}
i {
  width: 30px;
  height: 30px;
}
/*
 * ====================================================================
 * MENU STYLES END
 * ====================================================================
 */
.menu-header,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.site-header {
  background-color: #ed327f;
}
.menu {
  padding-left: 0;
}
.menu-item {
  display: inline;
  list-style-type: none;
  margin-right: 15px;
}
/*
 * ====================================================================
 * MENU STYLES END
 * ====================================================================
 */
/*
 * ====================================================================
 * LINK STYLES START
 * ====================================================================
 */
a {
  color: #000000;
  text-decoration: none;
  font-weight: 900;
}
a:visited {
  color: #000000;
  text-decoration: none;
  font-weight: 900;
}
a:hover {
  color: #000000;
  text-decoration: underline;
  font-weight: 900;
}
a:active {
  color: #000000;
  text-decoration: none;
  font-weight: 900;
}
/*
 * ====================================================================
 * LINK STYLES END
 * ====================================================================
 */
/*
 * ====================================================================
 * ASIDE STYLES
 * ====================================================================
 */
.aside {
  background-color: #ed327f;
}
.aside-header {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.aside-section-header {
  font-weight: 900;
  color: #f9bfd7;
}
.aside-inner {
  width: 775px;
}
.aside-list {
  padding-left: 0;
}
.aside-list-item {
  height: 34px;
  list-style-type: none;
  color: #000;
}
a.aside-link:hover {
  color: #aa0f4f;
  text-decoration: none;
}
/*
 * ====================================================================
 * ASIDE STYLES END
 * ====================================================================
 */
@media (min-width: 768px) {
  .site-header {
    height: 66px;
    padding: 3px 0 0 20px;
  }
  .site-title {
    margin-bottom: 5px;
    position: absolute;
    font-size: 65px;
  }
  .site-description {
    margin: 0;
    width: 200px;
    position: absolute;
    top: -47px;
    left: 7px;
    font-size: 18px;
    font-weight: 900;
    color: #000;
  }
  .site-branding {
    display: inline-block;
    position: absolute;
    margin-top: 45px;
  }
  .site-main {
    margin-top: 87px;
  }
  .searchform-class {
    width: 300px;
    position: relative;
    left: 350px;
    top: 83px;
  }
  .main-navigation {
    display: inline-block;
    position: absolute;
    left: 180px;
  }
  .menu {
    left: 150px;
    position: relative;
  }
  .menu-toggle {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  .menu-item {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .menu-item-container {
    display: inline-block;
  }
  .menu-item a {
    min-width: 48px;
    min-height: 48px;
  }
  .glyphicon {
    color: #000;
  }
  .header-search-field {
    width: 190px;
    height: 31px;
    border: 1px solid #000;
  }
  a.home-link {
    color: #ed327f;
    text-decoration: none;
    font-weight: 900;
    font-size: 81px;
  }
  a.home-link:visited {
    color: #ed327f;
    text-decoration: none;
    font-weight: 900;
  }
  a.home-link:hover {
    color: #d91365;
    text-decoration: none;
    font-weight: 900;
  }
  a.home-link:active {
    color: #ed327f;
    text-decoration: none;
    font-weight: 900;
  }
  .col-md-4 {
    width: 230px;
    display: inline-block;
    vertical-align: top;
  }
  .aside-inner {
    margin-left: 25px;
  }
}
@media (min-width: 1200px) {
  .kai {
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
  }
}
@media (max-width: 767px) {
  /*
   *
   */
  @-webkit-keyframes menu {
    0% {
      -webkit-transform: translateY(0px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(50px);
      opacity: 1;
    }
  }
  @keyframes menu {
    0% {
      -webkit-transform: translateY(0px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(50px);
      opacity: 1;
    }
  }
  .main-navigation {
    -webkit-animation-name: menu;
    animation-name: menu;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: 0px;
    background-color: #ED327F;
    z-index: 1;
    opacity: 0;
  }
  .site-branding {
    z-index: 2;
    position: relative;
  }
  .glyphicon,
  .site-description {
    text-indent: -9999px;
  }
}
