---
layout: default
title: kaidez.com / View all posts
---
<div class="pages-container-class">
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <article class="post-snippet" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
      <h1 class="post-snippet-title" itemprop="headline">
        <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark" class="post-snippet-link">{{ post.title }}</a>
      </h1>
      <p itemprop="text">{{ post.meta-excerpt }}</p>
    </article>
  {% endfor %}
    
  <!-- Pagination links -->
  <div id="post-pagination" class="pagination">
    <ul class="pages">
      <li class="page">
        {% if paginator.page == 1 %}
          <span class="current-page">1</span>
        {% else %}
          <a href="/" class="pagination-link">1</a>
        {% endif %}
      </li>

      {% for count in (2..paginator.total_pages) %}
        <li class="page">
          {% if count == paginator.page %}
            <span class="current-page">{{ count }}</span>
          {% else %}
            <a href="/pages/page{{ count }}" class="pagination-link">{{ count }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul> <!-- .pages -->

  </div>  <!-- #post-pagination -->
</div> <!-- pages-container-class -->