<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="{{ page.meta-excerpt }}" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@kaidez">
  <meta name="twitter:creator" content="@kaidez">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.meta-excerpt }}">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.min.css" media="all" />
  <link rel="canonical" href="http://kaidez.com{{ page.url | canonical }}" />
  <link rel="author" href="https://plus.google.com/115509037875239263451/posts"/>

  {% include google_webfont_partial.html %}
  
  <script src="/js/vendor/modernizr.min.js"></script>
</head>
<body>
  <div id="container" class="containing-element">
    
    <div id="header-nav-wrapper-outer" class="outerWrapperNavHeader clearfix">

      <div id="header-nav-wrapper-inner" class="innerWrapperNavHeader">

        <header id="masthead" class="site-header clearfix" role="banner">
          <div id="header-tag-wrapper" class="top-level-header-wrapper">
            <h1 id="main-site-header" class="site-title"><a href="/" class="homepage-link">kaidez</a></h1>
            <h2 class="site-description">closing tags...wrapping functions</h2>
          </div> <!-- #header-nav-wrapper-outer -->
        </header> <!-- #masthead -->

        {% include navigation_partial.html %}

        {% include searchbox_partial.html %}

      </div> <!-- #header-nav-wrapper-inner -->

    </div> <!-- #header-nav-wrapper-outer -->
    
    <main id="content" class="page-content" role="main">
      {{ content }}
    </main> <!-- #content -->
    
    {% include footer_partial.html %}

  </div> <!-- #container -->

  <script data-main="/js/config.js" src="/js/require.js"></script>

</body>
</html>