<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" dir="LTR" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" dir="LTR" lang="en-US" prefix="og: http://ogp.me/ns#" manifest="http://dev.kaidez.com/manifest.appcache"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="{{ page.meta-excerpt }}" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@kaidez">
  <meta name="twitter:creator" content="@kaidez">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.meta-excerpt }}">
  <title>{{ page.title }} &laquo; {{ page.cat-name }} &laquo; kaidez</title>
  <link rel="stylesheet" href="/css/styles.min.css" media="all" />
  <link rel="canonical" href="http://kaidez.com{{ page.url | canonical }}" />
  <link rel="author" href="https://plus.google.com/115509037875239263451/posts"/>
  
  {% include google_webfont_partial.html %}

  <script src="/js/libs/modernizr.min.js"></script>
</head>
<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
  <div id="container" class="containing-element">

    <div id="header-nav-wrapper-outer" class="outer-wrapper-nav-header">
      <div id="header-nav-wrapper-inner" class="inner-wrapper-nav-header">
        <header id="masthead" class="site-header clearfix" role="banner" itemscope="itemscope" itemtype="http://schema.org/Organization">
          <div id="header-tag-wrapper" class="top-level-header-wrapper">
            <h1 id="main-site-header" class="site-title"><a href="/" title="kaidez.com home page" class="homepage-link">kaidez</a></h1>
            <h2 class="site-description">closing tags...wrapping functions</h2>
        </header> <!-- #masthead -->

        <div id="nav-search" class="nav-search-style">

          {% include navigation_partial.html %}

          {% include searchbox_partial.html %}
          
        </div>

      </div> <!-- header-nav-wrapper-inner -->

    </div> <!-- #header-nav-wrapper-outer -->
    
    {% include post_breadcrumbs_partial.html %}

    <main role="main" id="content" class="page-content" itemscope itemtype="http://schema.org/Blog" itemprop="mainContentOfPage">  

      <article itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

        <h1 class="post-title" class="entry-title">{{ page.title }}</h1>

        {{ content }}

      </article>

      <div id="share-post-container" class="share-post-container-class clearfix">
        <h3 id="share-post-container-header" class="share-post-container-header-class">SHARE THIS POST:</h3>
        <ul id="social-sharing-list-post" class="social-sharing-list-post-class">

          <li class="social-sharing-list-item fb-post-share-match"><a href="https://twitter.com/share" title="Share {{ page.title }} on Twitter" target="blank" class="share-post-link">Twitter</a></li>

          <li class="social-sharing-list-item fb-post-share-match"><a href="https://plus.google.com/share?url=http://dev.kaidez.com{{ page.permalink }}" title="Share {{ page.title }} on Facebook" target="blank" class="share-post-link">Google+</a></li>

          <li id="fb-root" class="social-sharing-list-item" style="margin-bottom:15px;"><a href="http://www.facebook.com/sharer.php?u=http://dev.kaidez.com{{ page.permalink }}&t={{ page.title }}" class="share-post-link fb" title="Share {{ page.title }} on Google Plus" target="blank">Facebook</a></li>

        </ul> <!-- #social-sharing-list-post -->

      </div> <!-- #share-post-container -->

      <div id="related-posts" class="related-posts-style">

        <h3 class="related-posts-header">MORE POSTS LIKE THIS:</h3>

        <ul id="related-posts-list">

          {% for post in site.related_posts limit:3 %}

          <li class="related-posts-list-item"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }} &raquo;</a></li>

          {% endfor %}

        </ul>

        <!-- Start Disqus Code -->

        {% if page.comments %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'kaidez'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>

        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}

        <!-- End Disqus Code -->

      </div> <!-- #related-posts -->

    </main> <!-- #content -->

    {% include aside_partial.html %}

    {% include footer_partial.html %}

  </div> <!-- #container -->
  
  {% include async_js_partial.html %}
  <script data-main="/js/config.js" src="/js/require.js"></script>
</body>
</html>