<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" dir="LTR" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" dir="LTR" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" manifest="http://kaidez.com/manifest.appcache"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }} &laquo; {{ page.cat-name }} &laquo; kaidez</title>
  <meta name="description" content="{{ page.meta-excerpt }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  
  <link rel="stylesheet" href="/css/styles.css" media="all" />
  

  

  <link rel="canonical" href="http://kaidez.com{{ page.url | canonical }}" />
  <link rel="author" href="https://plus.google.com/115509037875239263451/posts"/>
  <link rel="alternate" type="application/rss+xml" href="http://kaidez.com/feed.xml" title="kaidez.com News Feed">

  {% include open_graph_partial.html %}

  {% include google_webfont_partial.html %}

  <script src="/js/libs/modernizr.min.js"></script>
</head>
<body itemscope="itemscope" itemtype="http://schema.org/WebPage">
  <div id="container" class="containing-element">

    <div id="header-nav-wrapper-outer" class="outer-wrapper-nav-header">
      <div id="header-nav-wrapper-inner" class="inner-wrapper-nav-header">
        <header id="masthead" class="site-header clearfix" role="banner" itemscope="itemscope" itemtype="http://schema.org/Organization">
          <div id="header-tag-wrapper" class="top-level-header-wrapper">
            <h1 id="main-site-header" class="site-title"><a href="/" title="kaidez.com home page" class="homepage-link">kaidez</a></h1>
            <h2 class="site-description">closing tags...wrapping functions</h2>
        </header> <!-- #masthead -->

        <div id="nav-search" class="nav-search-style">

          {% include navigation_partial.html %}

          {% include searchbox_partial.html %}
          
        </div>

      </div> <!-- header-nav-wrapper-inner -->

    </div> <!-- #header-nav-wrapper-outer -->
    
    {% include post_breadcrumbs_partial.html %}

    <main role="main" id="content" class="page-content" itemscope itemtype="http://schema.org/Blog" itemprop="mainContentOfPage">  
    
      <div class="pageContentPostWrapper">
        
        <article class="pageCopy" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

          <header class="postHeader">
            <h1 class="post-title" class="entry-title" itemprop="headline">{{ page.title }}</h1>

            <time datetime="{{ page.date | date: '%Y-%m-%d' }}" pubdate>{{ page.date | date: "%B %d, %Y" }}</time>&nbsp;by&nbsp;<span class="author">Kai "kaidez" Gittens</span>
          </header>

          {% include google_ad_post_partial.html %}

          {{ content }}

        </article>

        <div id="share-post-container" class="share-post-container-class clearfix">
          <h3 id="share-post-container-header" class="share-post-container-header-class sharePostStructure">SHARE THIS POST:</h3>
          <ul id="social-sharing-list-post" class="social-sharing-list-post-class sharePostStructure">

            <li class="social-sharing-list-item fb-post-share-match"><a href="https://twitter.com/share" title="Share {{ page.title }} on Twitter" target="blank" class="share-post-link">Twitter</a></li>

            <li class="social-sharing-list-item fb-post-share-match"><a href="https://plus.google.com/share?url=http://kaidez.com{{ page.permalink }}" title="Share {{ page.title }} on Facebook" target="blank" class="share-post-link">Google+</a></li>

            <li id="fb-root" class="social-sharing-list-item" style="margin-bottom:15px;"><a href="http://www.facebook.com/sharer.php?u=http://kaidez.com{{ page.permalink }}&t={{ page.title }}" class="share-post-link fb" title="Share {{ page.title }} on Google Plus" target="blank">Facebook</a></li>

          </ul> <!-- #social-sharing-list-post -->

        </div> <!-- #share-post-container -->

        <div id="related-posts" class="related-posts-style">

          <h3 class="related-posts-header">MORE POSTS LIKE THIS:</h3>

          <ul id="related-posts-list">

            {% for post in site.related_posts limit:3 %}

            <li class="related-posts-list-item"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }} &raquo;</a></li>

            {% endfor %}

          </ul>

          <!-- Start Disqus Code -->

          {% include disqus_partial.html %}

          <!-- End Disqus Code -->

        </div> <!-- #related-posts -->
      </div> <!-- .pageContentPostWrapper -->

    </main> <!-- #content -->

    {% include aside_partial.html %}

    {% include footer_partial.html %}

  </div> <!-- #container -->
  
  {% include async_js_partial.html %}
  
  {% include scriptFile_partial.html %}
  

  
</body>
</html>