@mixin hide-element {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin show-element {
  position: static;
  clip: auto;
}

@mixin bold {
  font-weight:700;
}

@mixin bolder {
  font-weight:900; 
}

@mixin br {
  border-radius:5px;
}